In [1]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Dataset

In [3]:
candidatos = pd.read_csv('/content/drive/MyDrive/Graduação/4° Semestre/PI III/Datasets/Candidatos/consulta_cand_2022_BRASIL.csv', sep=';', encoding='latin 1')
candidatos.head()

,DT_GERACAO,HH_GERACAO,ANO_ELEICAO,CD_TIPO_ELEICAO,NM_TIPO_ELEICAO,NR_TURNO,CD_ELEICAO,DS_ELEICAO,DT_ELEICAO,TP_ABRANGENCIA,...,NR_PROCESSO,CD_SITUACAO_CANDIDATO_PLEITO,DS_SITUACAO_CANDIDATO_PLEITO,CD_SITUACAO_CANDIDATO_URNA,DS_SITUACAO_CANDIDATO_URNA,ST_CANDIDATO_INSERIDO_URNA,NM_TIPO_DESTINACAO_VOTOS,CD_SITUACAO_CANDIDATO_TOT,DS_SITUACAO_CANDIDATO_TOT,ST_PREST_CONTAS
0,20/08/2022,13:05:31,2022,2,ELEIÇÃO ORDINÁRIA,1,546,Eleições Gerais Estaduais 2022,02/10/2022,ESTADUAL,...,6009402620226220000,-1,#NULO#,-1,#NULO#,NÃO,#NULO#,-1,#NULO#,N
1,20/08/2022,13:05:31,2022,2,ELEIÇÃO ORDINÁRIA,1,546,Eleições Gerais Estaduais 2022,02/10/2022,ESTADUAL,...,6009130520226270000,-1,#NULO#,-1,#NULO#,NÃO,#NULO#,-1,#NULO#,N
2,20/08/2022,13:05:31,2022,2,ELEIÇÃO ORDINÁRIA,1,546,Eleições Gerais Estaduais 2022,02/10/2022,ESTADUAL,...,6017429520226050000,-1,#NULO#,-1,#NULO#,NÃO,#NULO#,-1,#NULO#,N
3,20/08/2022,13:05:31,2022,2,ELEIÇÃO ORDINÁRIA,1,546,Eleições Gerais Estaduais 2022,02/10/2022,ESTADUAL,...,6013572220226240000,-1,#NULO#,-1,#NULO#,NÃO,#NULO#,-1,#NULO#,N
4,20/08/2022,13:05:31,2022,2,ELEIÇÃO ORDINÁRIA,1,546,Eleições Gerais Estaduais 2022,02/10/2022,ESTADUAL,...,6010712820226210000,-1,#NULO#,-1,#NULO#,NÃO,#NULO#,-1,#NULO#,N

In [4]:
candidatos.shape

(28596, 71)

In [5]:
candidatos.columns

Index(['DT_GERACAO', 'HH_GERACAO', 'ANO_ELEICAO', 'CD_TIPO_ELEICAO',
       'NM_TIPO_ELEICAO', 'NR_TURNO', 'CD_ELEICAO', 'DS_ELEICAO', 'DT_ELEICAO',
       'TP_ABRANGENCIA', 'SG_UF', 'SG_UE', 'NM_UE', 'CD_CARGO', 'DS_CARGO',
       'SQ_CANDIDATO', 'NR_CANDIDATO', 'NM_CANDIDATO', 'NM_URNA_CANDIDATO',
       'NM_SOCIAL_CANDIDATO', 'NR_CPF_CANDIDATO', 'NM_EMAIL',
       'CD_SITUACAO_CANDIDATURA', 'DS_SITUACAO_CANDIDATURA',
       'CD_DETALHE_SITUACAO_CAND', 'DS_DETALHE_SITUACAO_CAND', 'TP_AGREMIACAO',
       'NR_PARTIDO', 'SG_PARTIDO', 'NM_PARTIDO', 'NR_FEDERACAO',
       'NM_FEDERACAO', 'SG_FEDERACAO', 'DS_COMPOSICAO_FEDERACAO',
       'SQ_COLIGACAO', 'NM_COLIGACAO', 'DS_COMPOSICAO_COLIGACAO',
       'CD_NACIONALIDADE', 'DS_NACIONALIDADE', 'SG_UF_NASCIMENTO',
       'CD_MUNICIPIO_NASCIMENTO', 'NM_MUNICIPIO_NASCIMENTO', 'DT_NASCIMENTO',
       'NR_IDADE_DATA_POSSE', 'NR_TITULO_ELEITORAL_CANDIDATO', 'CD_GENERO',
       'DS_GENERO', 'CD_GRAU_INSTRUCAO', 'DS_GRAU_INSTRUCAO',
       'CD_ESTADO_CIVIL', 'DS_ESTADO_CIVIL', 'CD_COR_RACA', 'DS_COR_RACA',
       'CD_OCUPACAO', 'DS_OCUPACAO', 'VR_DESPESA_MAX_CAMPANHA',
       'CD_SIT_TOT_TURNO', 'DS_SIT_TOT_TURNO', 'ST_REELEICAO',
       'ST_DECLARAR_BENS', 'NR_PROTOCOLO_CANDIDATURA', 'NR_PROCESSO',
       'CD_SITUACAO_CANDIDATO_PLEITO', 'DS_SITUACAO_CANDIDATO_PLEITO',
       'CD_SITUACAO_CANDIDATO_URNA', 'DS_SITUACAO_CANDIDATO_URNA',
       'ST_CANDIDATO_INSERIDO_URNA', 'NM_TIPO_DESTINACAO_VOTOS',
       'CD_SITUACAO_CANDIDATO_TOT', 'DS_SITUACAO_CANDIDATO_TOT',
       'ST_PREST_CONTAS'],
      dtype='object')

In [6]:
candidatos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28596 entries, 0 to 28595
Data columns (total 71 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   DT_GERACAO                     28596 non-null  object
 1   HH_GERACAO                     28596 non-null  object
 2   ANO_ELEICAO                    28596 non-null  int64
 3   CD_TIPO_ELEICAO                28596 non-null  int64
 4   NM_TIPO_ELEICAO                28596 non-null  object
 5   NR_TURNO                       28596 non-null  int64
 6   CD_ELEICAO                     28596 non-null  int64
 7   DS_ELEICAO                     28596 non-null  object
 8   DT_ELEICAO                     28596 non-null  object
 9   TP_ABRANGENCIA                 28596 non-null  object
 10  SG_UF                          28596 non-null  object
 11  SG_UE                          28596 non-null  object
 12  NM_UE                          28596 non-null  object
 13  CD_CARGO                       28596 non-null  int64
 14  DS_CARGO                       28596 non-null  object
 15  SQ_CANDIDATO                   28596 non-null  int64
 16  NR_CANDIDATO                   28596 non-null  int64
 17  NM_CANDIDATO                   28596 non-null  object
 18  NM_URNA_CANDIDATO              28596 non-null  object
 19  NM_SOCIAL_CANDIDATO            28596 non-null  object
 20  NR_CPF_CANDIDATO               28596 non-null  int64
 21  NM_EMAIL                       28596 non-null  object
 22  CD_SITUACAO_CANDIDATURA        28596 non-null  int64
 23  DS_SITUACAO_CANDIDATURA        28596 non-null  object
 24  CD_DETALHE_SITUACAO_CAND       28596 non-null  int64
 25  DS_DETALHE_SITUACAO_CAND       28596 non-null  object
 26  TP_AGREMIACAO                  28596 non-null  object
 27  NR_PARTIDO                     28596 non-null  int64
 28  SG_PARTIDO                     28596 non-null  object
 29  NM_PARTIDO                     28596 non-null  object
 30  NR_FEDERACAO                   28596 non-null  int64
 31  NM_FEDERACAO                   28596 non-null  object
 32  SG_FEDERACAO                   28596 non-null  object
 33  DS_COMPOSICAO_FEDERACAO        28596 non-null  object
 34  SQ_COLIGACAO                   28596 non-null  int64
 35  NM_COLIGACAO                   28596 non-null  object
 36  DS_COMPOSICAO_COLIGACAO        28596 non-null  object
 37  CD_NACIONALIDADE               28596 non-null  int64
 38  DS_NACIONALIDADE               28596 non-null  object
 39  SG_UF_NASCIMENTO               28596 non-null  object
 40  CD_MUNICIPIO_NASCIMENTO        28596 non-null  int64
 41  NM_MUNICIPIO_NASCIMENTO        28596 non-null  object
 42  DT_NASCIMENTO                  28586 non-null  object
 43  NR_IDADE_DATA_POSSE            28586 non-null  float64
 44  NR_TITULO_ELEITORAL_CANDIDATO  28596 non-null  int64
 45  CD_GENERO                      28596 non-null  int64
 46  DS_GENERO                      28596 non-null  object
 47  CD_GRAU_INSTRUCAO              28596 non-null  int64
 48  DS_GRAU_INSTRUCAO              28596 non-null  object
 49  CD_ESTADO_CIVIL                28596 non-null  int64
 50  DS_ESTADO_CIVIL                28596 non-null  object
 51  CD_COR_RACA                    28596 non-null  int64
 52  DS_COR_RACA                    28596 non-null  object
 53  CD_OCUPACAO                    28596 non-null  int64
 54  DS_OCUPACAO                    28596 non-null  object
 55  VR_DESPESA_MAX_CAMPANHA        28596 non-null  float64
 56  CD_SIT_TOT_TURNO               28596 non-null  int64
 57  DS_SIT_TOT_TURNO               28596 non-null  object
 58  ST_REELEICAO                   28596 non-null  object
 59  ST_DECLARAR_BENS               28596 non-null  object
 60  NR_PROTOCOLO_CANDIDATURA       28596 non-null  int64
 61  NR_PROCESSO                    28596 non-null  int64
 62  CD_SITUACAO_CANDIDATO_PLEITO   28596 non-null  int64
 63  DS_SITUACAO_CANDIDATO_PLEITO   28596 non-null  object
 64  CD_SITUACAO_CANDIDATO_URNA     28596 non-null  int64
 65  DS_SITUACAO_CANDIDATO_URNA     28596 non-null  object
 66  ST_CANDIDATO_INSERIDO_URNA     28596 non-null  object
 67  NM_TIPO_DESTINACAO_VOTOS       28596 non-null  object
 68  CD_SITUACAO_CANDIDATO_TOT      28596 non-null  int64
 69  DS_SITUACAO_CANDIDATO_TOT      28596 non-null  object
 70  ST_PREST_CONTAS                28596 non-null  object
dtypes: float64(2), int64(27), object(42)
memory usage: 15.5+ MB

# Exploração dos Dados

## Valores por coluna

### Informações Gerais

In [7]:
candidatos.drop(['DT_GERACAO', 'HH_GERACAO', 'CD_TIPO_ELEICAO', 'NM_TIPO_ELEICAO', 'NR_TURNO', 'ANO_ELEICAO', 'CD_ELEICAO', 'DT_ELEICAO', 'DS_ELEICAO', 'TP_ABRANGENCIA'], axis=1, inplace=True)

### Candidatos por estado

In [8]:
candidatos['SG_UF'].value_counts()

SP    3603
RJ    2741
MG    2531
BA    1654
PR    1560
RS    1417
GO    1210
PE    1109
CE     992
PA     988
SC     969
MA     940
DF     854
ES     757
PB     740
AM     633
RO     620
RR     602
MS     590
RN     547
AP     543
AC     533
SE     520
TO     518
MT     505
AL     473
PI     423
BR      24
Name: SG_UF, dtype: int64

In [9]:
candidatos['SG_UE'].value_counts()

SP    3603
RJ    2741
MG    2531
BA    1654
PR    1560
RS    1417
GO    1210
PE    1109
CE     992
PA     988
SC     969
MA     940
DF     854
ES     757
PB     740
AM     633
RO     620
RR     602
MS     590
RN     547
AP     543
AC     533
SE     520
TO     518
MT     505
AL     473
PI     423
BR      24
Name: SG_UE, dtype: int64

In [10]:
candidatos['NM_UE'].value_counts()

SÃO PAULO              3603
RIO DE JANEIRO         2741
MINAS GERAIS           2531
BAHIA                  1654
PARANÁ                 1560
RIO GRANDE DO SUL      1417
GOIÁS                  1210
PERNAMBUCO             1109
CEARÁ                   992
PARÁ                    988
SANTA CATARINA          969
MARANHÃO                940
DISTRITO FEDERAL        854
ESPÍRITO SANTO          757
PARAÍBA                 740
AMAZONAS                633
RONDÔNIA                620
RORAIMA                 602
MATO GROSSO DO SUL      590
RIO GRANDE DO NORTE     547
AMAPÁ                   543
ACRE                    533
SERGIPE                 520
TOCANTINS               518
MATO GROSSO             505
ALAGOAS                 473
PIAUÍ                   423
BRASIL                   24
Name: NM_UE, dtype: int64

### Cargos

In [11]:
candidatos.drop(['CD_CARGO'], axis=1, inplace=True)

In [12]:
candidatos['DS_CARGO'].value_counts()

DEPUTADO ESTADUAL     16429
DEPUTADO FEDERAL      10386
DEPUTADO DISTRITAL      592
2º SUPLENTE             241
1º SUPLENTE             238
SENADOR                 235
VICE-GOVERNADOR         228
GOVERNADOR              223
VICE-PRESIDENTE          12
PRESIDENTE               12
Name: DS_CARGO, dtype: int64

### Sigla dos partidos

In [13]:
candidatos['SG_PARTIDO'].value_counts()

PL               1594
UNIÃO            1505
REPUBLICANOS     1431
MDB              1376
PDT              1343
PP               1336
PTB              1302
PSB              1278
PATRIOTA         1217
PODE             1179
PSD              1170
PT               1108
SOLIDARIEDADE    1101
PSC              1060
AVANTE           1038
PROS              994
PSDB              945
AGIR              938
PSOL              923
PRTB              912
PMB               832
PMN               802
DC                789
REDE              483
NOVO              477
CIDADANIA         477
PV                303
PC do B           219
PCO               161
PSTU              159
PCB                84
UP                 60
Name: SG_PARTIDO, dtype: int64

### Informações Gerais dos Candidatos

In [14]:
candidatos['SQ_CANDIDATO'].value_counts()

220001713843    1
200001653268    1
140001651020    1
100001607109    1
50001614016     1
               ..
250001606064    1
270001700728    1
60001633823     1
10001623552     1
50001600638     1
Name: SQ_CANDIDATO, Length: 28596, dtype: int64

In [15]:
candidatos.drop(['SQ_CANDIDATO'], axis=1, inplace=True)

In [16]:
candidatos['NR_CANDIDATO'].value_counts()

500      60
222      54
111      41
50       40
290      36
         ..
19159     1
11522     1
1593      1
51067     1
50880     1
Name: NR_CANDIDATO, Length: 7687, dtype: int64

In [17]:
candidatos['NM_CANDIDATO'].value_counts()

MARIA APARECIDA DE OLIVEIRA        4
SANDRA MARIA DOS SANTOS            4
ELIANE DA SILVA                    3
JOÃO BATISTA DE OLIVEIRA           3
GILSON DE SOUZA                    3
                                  ..
CLEONILDA BRITO COELHO DE ASSIS    1
VÂNIA LUIZ AMANCIO                 1
VALDIR MENDES BARRANCO             1
CARLOS HENRIQUE NACLI BASTOS       1
MAURÍCIO SANTOS OLIVEIRA           1
Name: NM_CANDIDATO, Length: 28387, dtype: int64

In [18]:
candidatos.drop(['NM_CANDIDATO'], axis=1,  inplace=True)

In [19]:
candidatos['NM_URNA_CANDIDATO'].value_counts()

ANA PAULA                     8
LUIZ CARLOS                   7
JOÃO PAULO                    6
ANA CRISTINA                  6
JULIO CESAR                   5
                             ..
LUANA SEVERO                  1
PROFESSORA ROSINEIA FROTA     1
FLAVIA CAROL DA LOTERICA      1
JULIANO MEDEIROS              1
MAURÍCIO CITO                 1
Name: NM_URNA_CANDIDATO, Length: 27619, dtype: int64

In [20]:
candidatos['NM_SOCIAL_CANDIDATO'].value_counts()

#NULO#                                 28550
NÃO DIVULGÁVEL                            10
MARIA FERNANDA ABREU DOROTEIA              2
NINA ROSA LIA ALVES SOBRINHO               1
MAYRA KARVAT                               1
JULIAN SILVA TACANA                        1
CÉLIA ARAÚJO                               1
FABIANE GOMES                              1
MARCIOSOTTER                               1
MARCELO EVANGELISTA                        1
JACQUELINE CHANEL                          1
RAFAELA ESTEFFANS DE SOUSA MENDES          1
CACAU                                      1
LUIDJI APOLINARIO DE ALBUQUERQUE           1
LARISSA LORRAN                             1
BRUNA RIQUELME MARQUES                     1
ALLISSINHA FERRAZ ALVES COSTA              1
FERNANDO FÉ                                1
NATASHA FERREIRA                           1
INDIANARE SIQUEIRA                         1
JOYCE RODRIGUES DA SILVA                   1
AUGUSTO AVERTANO ROCHA                     1
RENATA EVANS VALENTE QUEIROZ               1
CAMILA PARKER CONCEIÇÃO DE OLIVEIRA        1
LEO KRET DO BRASIL                         1
DEUSINHA                                   1
LEONORA MENDES DE LIMA                     1
LUISA ZAZA FERNANDES DA CONCEIÇÃO          1
SÔNIA DE ARSOLINO                          1
ANDREIA DELOIZI CICERO                     1
SILVIA NOBRE                               1
ZEIZA DOJO                                 1
BARBARA PASTANA DOS SANTOS                 1
JACI GUIMARAES                             1
DEYA PINHEIRO                              1
RUBY DOS SANTOS                            1
WILLIANS PANS PEREIRA                      1
Name: NM_SOCIAL_CANDIDATO, dtype: int64

In [21]:
candidatos['NR_CPF_CANDIDATO'].value_counts()

-4              10
 35920572353     2
 27906804856     2
 2051040532      2
 81916310168     2
                ..
 76994155749     1
 12608193889     1
 26001622833     1
 42711444104     1
 1713591510      1
Name: NR_CPF_CANDIDATO, Length: 28426, dtype: int64

In [22]:
candidatos.drop(['NR_CPF_CANDIDATO'], axis=1, inplace=True)

In [23]:
candidatos['NM_EMAIL'].value_counts()

JULIANOALESSANDER@GMAIL.COM          146
AGIR36CANDIDATOS@GMAIL.COM           112
JURIDICOSOLIDARIEDADERJ@GMAIL.COM    111
ELEICAO@MACIELCAMPOS.COM              98
JURIDICOPODERS@GMAIL.COM              81
                                    ...
VEREADORALUCIABATISTA@GMAIL.COM        1
FERNANDOTORCAL@HOTMAIL.COM             1
DEPEDUARDOCOSTA@YAHOO.COM.BR           1
AHGFADVOGADOS@HOTMAIL.COM              1
SITOPROL500@GMAIL.COM                  1
Name: NM_EMAIL, Length: 22718, dtype: int64

In [24]:
candidatos.drop(['NM_EMAIL'], axis=1, inplace=True)

### Detalhes da candidatura

In [25]:
candidatos['CD_SITUACAO_CANDIDATURA'].value_counts()

1     27908
12      567
3       121
Name: CD_SITUACAO_CANDIDATURA, dtype: int64

In [26]:
candidatos.drop(['CD_SITUACAO_CANDIDATURA'], axis=1, inplace=True)

In [27]:
candidatos['DS_SITUACAO_CANDIDATURA'].value_counts()

CADASTRADO    27908
APTO            567
INAPTO          121
Name: DS_SITUACAO_CANDIDATURA, dtype: int64

In [28]:
candidatos['CD_DETALHE_SITUACAO_CAND'].value_counts()

8     27908
2       562
6       117
4         5
13        3
5         1
Name: CD_DETALHE_SITUACAO_CAND, dtype: int64

In [29]:
candidatos.drop(['CD_DETALHE_SITUACAO_CAND'], axis=1, inplace=True)

In [30]:
candidatos['DS_DETALHE_SITUACAO_CAND'].value_counts()

AGUARDANDO JULGAMENTO     27908
DEFERIDO                    562
RENÚNCIA                    117
INDEFERIDO COM RECURSO        5
PEDIDO NÃO CONHECIDO          3
CANCELADO                     1
Name: DS_DETALHE_SITUACAO_CAND, dtype: int64

In [31]:
candidatos.drop(['DS_DETALHE_SITUACAO_CAND'], axis=1, inplace=True)

In [32]:
candidatos['TP_AGREMIACAO'].value_counts()

PARTIDO ISOLADO    23795
FEDERAÇÃO           4367
COLIGAÇÃO            434
Name: TP_AGREMIACAO, dtype: int64

### Informações dos Partidos

In [33]:
candidatos['NR_PARTIDO'].value_counts()

22    1594
44    1505
10    1431
15    1376
12    1343
11    1336
14    1302
40    1278
51    1217
19    1179
55    1170
13    1108
77    1101
20    1060
70    1038
90     994
45     945
36     938
50     923
28     912
35     832
33     802
27     789
18     483
30     477
23     477
43     303
65     219
29     161
16     159
21      84
80      60
Name: NR_PARTIDO, dtype: int64

In [34]:
candidatos['SG_PARTIDO'].value_counts()

PL               1594
UNIÃO            1505
REPUBLICANOS     1431
MDB              1376
PDT              1343
PP               1336
PTB              1302
PSB              1278
PATRIOTA         1217
PODE             1179
PSD              1170
PT               1108
SOLIDARIEDADE    1101
PSC              1060
AVANTE           1038
PROS              994
PSDB              945
AGIR              938
PSOL              923
PRTB              912
PMB               832
PMN               802
DC                789
REDE              483
NOVO              477
CIDADANIA         477
PV                303
PC do B           219
PCO               161
PSTU              159
PCB                84
UP                 60
Name: SG_PARTIDO, dtype: int64

In [35]:
candidatos['NM_PARTIDO'].value_counts()

PARTIDO LIBERAL                                   1594
UNIÃO BRASIL                                      1505
REPUBLICANOS                                      1431
MOVIMENTO DEMOCRÁTICO BRASILEIRO                  1376
PARTIDO DEMOCRÁTICO TRABALHISTA                   1343
PROGRESSISTAS                                     1336
PARTIDO TRABALHISTA BRASILEIRO                    1302
PARTIDO SOCIALISTA BRASILEIRO                     1278
PATRIOTA                                          1217
PODEMOS                                           1179
PARTIDO SOCIAL DEMOCRÁTICO                        1170
PARTIDO DOS TRABALHADORES                         1108
SOLIDARIEDADE                                     1101
PARTIDO SOCIAL CRISTÃO                            1060
AVANTE                                            1038
PARTIDO REPUBLICANO DA ORDEM SOCIAL                994
PARTIDO DA SOCIAL DEMOCRACIA BRASILEIRA            945
AGIR                                               938
PARTIDO SOCIALISMO E LIBERDADE                     923
PARTIDO RENOVADOR TRABALHISTA BRASILEIRO           912
PARTIDO DA MULHER BRASILEIRA                       832
PARTIDO DA MOBILIZAÇÃO NACIONAL                    802
DEMOCRACIA CRISTÃ                                  789
REDE SUSTENTABILIDADE                              483
PARTIDO NOVO                                       477
CIDADANIA                                          477
PARTIDO VERDE                                      303
PARTIDO COMUNISTA DO BRASIL                        219
PARTIDO DA CAUSA OPERÁRIA                          161
PARTIDO SOCIALISTA DOS TRABALHADORES UNIFICADO     159
PARTIDO COMUNISTA BRASILEIRO                        84
UNIDADE POPULAR                                     60
Name: NM_PARTIDO, dtype: int64

### Informações das Federações

In [36]:
candidatos['NR_FEDERACAO'].value_counts()

-1    24138
 2     1630
 1     1422
 3     1406
Name: NR_FEDERACAO, dtype: int64

In [37]:
candidatos['NM_FEDERACAO'].value_counts()

#NULO#                                       24138
Federação Brasil da Esperança - FE BRASIL     1630
Federação PSDB Cidadania                      1422
Federação PSOL REDE                           1406
Name: NM_FEDERACAO, dtype: int64

In [38]:
candidatos['DS_COMPOSICAO_FEDERACAO'].value_counts()

#NULO#               24138
PT / PV / PC do B     1630
CIDADANIA / PSDB      1422
REDE / PSOL           1406
Name: DS_COMPOSICAO_FEDERACAO, dtype: int64

In [39]:
candidatos.drop(['NR_FEDERACAO', 'NM_FEDERACAO', 'SG_FEDERACAO', 'DS_COMPOSICAO_FEDERACAO'], axis=1, inplace=True)

### Informações das coligações

In [40]:
candidatos['SQ_COLIGACAO'].value_counts()

250001681143    100
250001681521     97
250001681750     96
250001682281     96
250001681492     95
               ...
50001681257       1
60001681417       1
40001685276       1
160001685243      1
90001684611       1
Name: SQ_COLIGACAO, Length: 1702, dtype: int64

In [41]:
candidatos.drop(['SQ_COLIGACAO'], axis=1, inplace=True)

In [42]:
candidatos['NM_COLIGACAO'].value_counts()

PARTIDO ISOLADO                            23793
FEDERAÇÃO                                   4369
UNIÃO DO BEM PELO PARÁ                         8
A FORÇA DO POVO                                7
Frente Humanista Cristã                        6
                                           ...
COLIGAÇÃO EM DEFESA DA VIDA                    2
AMAPÁ PARA TODOS                               2
A TRANSFORMAÇÃO QUE O TOCANTINS PRECISA        2
Agora é a vez do povo                          2
FRENTE DA MUDANÇA                              2
Name: NM_COLIGACAO, Length: 129, dtype: int64

In [43]:
candidatos['DS_COMPOSICAO_COLIGACAO'].value_counts()

PT/PC do B/PV                                                              1578
PL                                                                         1545
UNIÃO                                                                      1471
REPUBLICANOS                                                               1408
PSOL/REDE                                                                  1401
                                                                           ...
PTB / PSC / PROS / PSD / AGIR                                                 2
PTB / PDT / PL / REPUBLICANOS / PROS / AGIR                                   2
PSDB/CIDADANIA / UNIÃO / PDT / SOLIDARIEDADE / PTB / REPUBLICANOS / PSC       2
PT/PC do B/PV / PSDB/CIDADANIA / PSOL/REDE / PSB                              2
PDT / PSC / UNIÃO / REPUBLICANOS / PP / PSD / AVANTE                          2
Name: DS_COMPOSICAO_COLIGACAO, Length: 193, dtype: int64

### Informações de Nacionalidade e Nascimento

In [44]:
candidatos['CD_NACIONALIDADE'].value_counts()

 1    28498
 2       80
-4       10
 3        5
 4        3
Name: CD_NACIONALIDADE, dtype: int64

In [45]:
candidatos.drop(['CD_NACIONALIDADE'], axis=1, inplace=True)

In [46]:
candidatos['DS_NACIONALIDADE'].value_counts()

BRASILEIRA NATA                         28498
BRASILEIRA (NATURALIZADA)                  80
NÃO DIVULGÁVEL                             10
PORTUGUESA COM IGUALDADE DE DIREITOS        5
ESTRANGEIRO                                 3
Name: DS_NACIONALIDADE, dtype: int64

In [47]:
candidatos['SG_UF_NASCIMENTO'].value_counts()

SP                3428
RJ                2896
MG                2885
BA                1958
PR                1726
RS                1599
PE                1309
CE                1188
MA                1155
PA                1134
GO                1108
SC                 849
PB                 840
ES                 712
AM                 599
DF                 558
RN                 535
PI                 511
MS                 495
AL                 494
AC                 486
SE                 460
AP                 368
MT                 344
RO                 318
TO                 311
RR                 272
ZZ                  48
Não divulgável      10
Name: SG_UF_NASCIMENTO, dtype: int64

In [48]:
candidatos['CD_MUNICIPIO_NASCIMENTO'].value_counts()

-3    28596
Name: CD_MUNICIPIO_NASCIMENTO, dtype: int64

In [49]:
candidatos.drop(['CD_MUNICIPIO_NASCIMENTO'], axis=1, inplace=True)

In [50]:
candidatos['DT_NASCIMENTO'].value_counts()

04/09/1972    10
05/07/1973     9
06/04/1982     9
28/07/1983     9
23/11/1974     9
              ..
12/12/1994     1
22/04/1965     1
23/11/1957     1
25/11/1958     1
18/08/1984     1
Name: DT_NASCIMENTO, Length: 13370, dtype: int64

### Idade na Data da Posse

In [51]:
candidatos['NR_IDADE_DATA_POSSE'].value_counts()

50.0    1038
47.0     983
48.0     974
44.0     956
49.0     939
        ...
18.0       1
89.0       1
87.0       1
88.0       1
96.0       1
Name: NR_IDADE_DATA_POSSE, Length: 74, dtype: int64

### Titulo Eleitoral do Candidato

In [52]:
candidatos['NR_TITULO_ELEITORAL_CANDIDATO'].value_counts()

-4               10
 29366260779      2
 70888590507      2
 32429341279      2
 320346180183     2
                 ..
 104924730302     1
 172420240159     1
 201696300141     1
 22575972798      1
 154846040507     1
Name: NR_TITULO_ELEITORAL_CANDIDATO, Length: 28423, dtype: int64

In [53]:
candidatos.drop(['NR_TITULO_ELEITORAL_CANDIDATO'], axis=1, inplace=True)

### Informações de Gênero

In [54]:
candidatos['CD_GENERO'].value_counts()

 2    19028
 4     9558
-4       10
Name: CD_GENERO, dtype: int64

In [55]:
candidatos.drop(['CD_GENERO'], axis=1, inplace=True)

In [56]:
candidatos['DS_GENERO'].value_counts()

MASCULINO         19028
FEMININO           9558
NÃO DIVULGÁVEL       10
Name: DS_GENERO, dtype: int64

### Grau de Instrução

In [57]:
candidatos['CD_GRAU_INSTRUCAO'].value_counts()

 8    15679
 6     7271
 7     2671
 4     1327
 3      726
 5      697
 2      215
-4       10
Name: CD_GRAU_INSTRUCAO, dtype: int64

In [58]:
candidatos.drop(['CD_GRAU_INSTRUCAO'], axis=1, inplace=True)

In [59]:
candidatos['DS_GRAU_INSTRUCAO'].value_counts()

SUPERIOR COMPLETO                15679
ENSINO MÉDIO COMPLETO             7271
SUPERIOR INCOMPLETO               2671
ENSINO FUNDAMENTAL COMPLETO       1327
ENSINO FUNDAMENTAL INCOMPLETO      726
ENSINO MÉDIO INCOMPLETO            697
LÊ E ESCREVE                       215
NÃO DIVULGÁVEL                      10
Name: DS_GRAU_INSTRUCAO, dtype: int64

### Estado Civil

In [60]:
candidatos['CD_ESTADO_CIVIL'].value_counts()

 3    15060
 1     9028
 9     3695
 5      560
 7      243
-4       10
Name: CD_ESTADO_CIVIL, dtype: int64

In [61]:
candidatos.drop(['CD_ESTADO_CIVIL'], axis=1, inplace=True)

In [62]:
candidatos['DS_ESTADO_CIVIL'].value_counts()

CASADO(A)                    15060
SOLTEIRO(A)                   9028
DIVORCIADO(A)                 3695
VIÚVO(A)                       560
SEPARADO(A) JUDICIALMENTE      243
NÃO DIVULGÁVEL                  10
Name: DS_ESTADO_CIVIL, dtype: int64

### Informações de cor/raça

In [63]:
candidatos.drop(['CD_COR_RACA'], axis=1, inplace=True)

In [64]:
candidatos['DS_COR_RACA'].value_counts()

BRANCA            13919
PARDA             10230
PRETA              3994
INDÍGENA            180
NÃO INFORMADO       148
AMARELA             115
NÃO DIVULGÁVEL       10
Name: DS_COR_RACA, dtype: int64

### Ocupação

In [65]:
candidatos.drop(['CD_OCUPACAO'], axis=1, inplace=True)

In [66]:
candidatos['DS_OCUPACAO'].value_counts()

OUTROS                               5027
EMPRESÁRIO                           3650
ADVOGADO                             2063
VEREADOR                             1096
DEPUTADO                             1084
                                     ...
MODELO                                  1
ARQUEÓLOGO                              1
COMANDANTE DE EMBARCAÇÕES               1
TRABALHADOR DE USINAGEM DE METAIS       1
SECURITÁRIO                             1
Name: DS_OCUPACAO, Length: 220, dtype: int64

### Despesas Declaradas

In [67]:
candidatos['VR_DESPESA_MAX_CAMPANHA'].value_counts()

 1270629.01     17018
 3176572.53     10443
-1.00             715
 7115522.46        75
 11562724.00       74
 4447201.54        71
 3811887.03        65
 6226082.16        32
 5336641.85        28
 17788806.16       25
 3557761.23        18
 88944030.80       12
-4.00              10
 26683209.24       10
Name: VR_DESPESA_MAX_CAMPANHA, dtype: int64

### Situação no turno

In [68]:
candidatos.drop(['CD_SIT_TOT_TURNO'], axis=1, inplace=True)

In [69]:
candidatos['DS_SIT_TOT_TURNO'].value_counts()

#NULO#    28596
Name: DS_SIT_TOT_TURNO, dtype: int64

In [70]:
candidatos.drop(['DS_SIT_TOT_TURNO'], axis=1, inplace=True)

### Reeleição

In [71]:
candidatos['ST_REELEICAO'].value_counts()

N                 27259
S                  1327
Não divulgável       10
Name: ST_REELEICAO, dtype: int64

### Declaração de Bens

In [72]:
candidatos['ST_DECLARAR_BENS'].value_counts()

S                 25926
N                  2660
Não divulgável       10
Name: ST_DECLARAR_BENS, dtype: int64

In [73]:
candidatos.drop(['ST_DECLARAR_BENS'], axis=1, inplace=True)

### Protocolo de Candidatura

In [74]:
candidatos['NR_PROTOCOLO_CANDIDATURA'].value_counts()

-1    28596
Name: NR_PROTOCOLO_CANDIDATURA, dtype: int64

In [75]:
candidatos.drop(['NR_PROTOCOLO_CANDIDATURA'], axis=1, inplace=True)

### Registro de Candidatura e Pleito

In [76]:
candidatos['NR_PROCESSO'].value_counts()

-1                      4
 6007005420226070000    1
 6009240820226100000    1
 6013522820226050000    1
 6009223220226210000    1
                       ..
 6008483720226260000    1
 6008507720226270000    1
 6007882220226060000    1
 6004066720226010000    1
 6007260920226050000    1
Name: NR_PROCESSO, Length: 28593, dtype: int64

In [77]:
candidatos.drop(['NR_PROCESSO'], axis=1, inplace=True)

In [78]:
candidatos.drop(['CD_SITUACAO_CANDIDATO_PLEITO'], axis=1, inplace=True)

In [79]:
candidatos['DS_SITUACAO_CANDIDATO_PLEITO'].value_counts()

#NULO#    28596
Name: DS_SITUACAO_CANDIDATO_PLEITO, dtype: int64

In [80]:
candidatos.drop(['DS_SITUACAO_CANDIDATO_PLEITO'], axis=1, inplace=True)

### Candidato x Urna

In [81]:
candidatos.drop(['CD_SITUACAO_CANDIDATO_URNA'], axis=1, inplace=True)

In [82]:
candidatos['DS_SITUACAO_CANDIDATO_URNA'].value_counts()

#NULO#    28596
Name: DS_SITUACAO_CANDIDATO_URNA, dtype: int64

In [83]:
candidatos.drop(['DS_SITUACAO_CANDIDATO_URNA'], axis=1, inplace=True)

In [84]:
candidatos['ST_CANDIDATO_INSERIDO_URNA'].value_counts()

NÃO    28029
SIM      567
Name: ST_CANDIDATO_INSERIDO_URNA, dtype: int64

### Destinação de Votos

In [85]:
candidatos['NM_TIPO_DESTINACAO_VOTOS'].value_counts()

#NULO#    28596
Name: NM_TIPO_DESTINACAO_VOTOS, dtype: int64

In [86]:
candidatos.drop(['NM_TIPO_DESTINACAO_VOTOS'], axis=1, inplace=True)

### Banco de Totalização

In [87]:
candidatos.drop(['CD_SITUACAO_CANDIDATO_TOT'], axis=1, inplace=True)

In [88]:
candidatos['DS_SITUACAO_CANDIDATO_TOT'].value_counts()

#NULO#    28596
Name: DS_SITUACAO_CANDIDATO_TOT, dtype: int64

In [89]:
candidatos.drop(['DS_SITUACAO_CANDIDATO_TOT'], axis=1, inplace=True)

### Prestação de Contas

In [90]:
candidatos['ST_PREST_CONTAS'].value_counts()

N    28596
Name: ST_PREST_CONTAS, dtype: int64

In [91]:
candidatos.drop(['ST_PREST_CONTAS'], axis=1, inplace=True)

## Verificar valores faltantes (NaN)

In [92]:
candidatos.isnull().sum()

SG_UF                          0
SG_UE                          0
NM_UE                          0
DS_CARGO                       0
NR_CANDIDATO                   0
NM_URNA_CANDIDATO              0
NM_SOCIAL_CANDIDATO            0
DS_SITUACAO_CANDIDATURA        0
TP_AGREMIACAO                  0
NR_PARTIDO                     0
SG_PARTIDO                     0
NM_PARTIDO                     0
NM_COLIGACAO                   0
DS_COMPOSICAO_COLIGACAO        0
DS_NACIONALIDADE               0
SG_UF_NASCIMENTO               0
NM_MUNICIPIO_NASCIMENTO        0
DT_NASCIMENTO                 10
NR_IDADE_DATA_POSSE           10
DS_GENERO                      0
DS_GRAU_INSTRUCAO              0
DS_ESTADO_CIVIL                0
DS_COR_RACA                    0
DS_OCUPACAO                    0
VR_DESPESA_MAX_CAMPANHA        0
ST_REELEICAO                   0
ST_CANDIDATO_INSERIDO_URNA     0
dtype: int64

# Pré-processamento
#### Já removidas as colunas desnecessárias (processo de exploração dos dados)

## Informações prévias

In [93]:
candidatos.shape

(28596, 27)

In [94]:
candidatos.head()

,SG_UF,SG_UE,NM_UE,DS_CARGO,NR_CANDIDATO,NM_URNA_CANDIDATO,NM_SOCIAL_CANDIDATO,DS_SITUACAO_CANDIDATURA,TP_AGREMIACAO,NR_PARTIDO,...,DT_NASCIMENTO,NR_IDADE_DATA_POSSE,DS_GENERO,DS_GRAU_INSTRUCAO,DS_ESTADO_CIVIL,DS_COR_RACA,DS_OCUPACAO,VR_DESPESA_MAX_CAMPANHA,ST_REELEICAO,ST_CANDIDATO_INSERIDO_URNA
0,RO,RO,RONDÔNIA,DEPUTADO ESTADUAL,33555,JUNINHO COELHO,#NULO#,CADASTRADO,PARTIDO ISOLADO,33,...,23/10/1989,33.0,MASCULINO,ENSINO MÉDIO COMPLETO,CASADO(A),BRANCA,OUTROS,1270629.01,N,NÃO
1,TO,TO,TOCANTINS,DEPUTADO FEDERAL,2700,ROGÉRIO LUNAS,#NULO#,CADASTRADO,PARTIDO ISOLADO,27,...,08/05/1977,45.0,MASCULINO,SUPERIOR COMPLETO,CASADO(A),PARDA,PROFESSOR DE ENSINO SUPERIOR,3176572.53,N,NÃO
2,BA,BA,BAHIA,DEPUTADO FEDERAL,9012,ELI SAMUEL,#NULO#,CADASTRADO,PARTIDO ISOLADO,90,...,26/06/1972,50.0,MASCULINO,ENSINO FUNDAMENTAL INCOMPLETO,CASADO(A),PARDA,EMPRESÁRIO,3176572.53,N,NÃO
3,SC,SC,SANTA CATARINA,DEPUTADO ESTADUAL,20082,ANDREA TURCATO,#NULO#,CADASTRADO,PARTIDO ISOLADO,20,...,01/03/1982,40.0,FEMININO,SUPERIOR INCOMPLETO,CASADO(A),BRANCA,PROFESSOR DE ENSINO MÉDIO,1270629.01,N,NÃO
4,RS,RS,RIO GRANDE DO SUL,DEPUTADO FEDERAL,7757,XURRAS,#NULO#,CADASTRADO,PARTIDO ISOLADO,77,...,29/05/1986,36.0,MASCULINO,SUPERIOR INCOMPLETO,SOLTEIRO(A),PRETA,OUTROS,3176572.53,N,NÃO

In [95]:
candidatos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28596 entries, 0 to 28595
Data columns (total 27 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   SG_UF                       28596 non-null  object
 1   SG_UE                       28596 non-null  object
 2   NM_UE                       28596 non-null  object
 3   DS_CARGO                    28596 non-null  object
 4   NR_CANDIDATO                28596 non-null  int64
 5   NM_URNA_CANDIDATO           28596 non-null  object
 6   NM_SOCIAL_CANDIDATO         28596 non-null  object
 7   DS_SITUACAO_CANDIDATURA     28596 non-null  object
 8   TP_AGREMIACAO               28596 non-null  object
 9   NR_PARTIDO                  28596 non-null  int64
 10  SG_PARTIDO                  28596 non-null  object
 11  NM_PARTIDO                  28596 non-null  object
 12  NM_COLIGACAO                28596 non-null  object
 13  DS_COMPOSICAO_COLIGACAO     28596 non-null  object
 14  DS_NACIONALIDADE            28596 non-null  object
 15  SG_UF_NASCIMENTO            28596 non-null  object
 16  NM_MUNICIPIO_NASCIMENTO     28596 non-null  object
 17  DT_NASCIMENTO               28586 non-null  object
 18  NR_IDADE_DATA_POSSE         28586 non-null  float64
 19  DS_GENERO                   28596 non-null  object
 20  DS_GRAU_INSTRUCAO           28596 non-null  object
 21  DS_ESTADO_CIVIL             28596 non-null  object
 22  DS_COR_RACA                 28596 non-null  object
 23  DS_OCUPACAO                 28596 non-null  object
 24  VR_DESPESA_MAX_CAMPANHA     28596 non-null  float64
 25  ST_REELEICAO                28596 non-null  object
 26  ST_CANDIDATO_INSERIDO_URNA  28596 non-null  object
dtypes: float64(2), int64(2), object(23)
memory usage: 5.9+ MB

## Renomeação de Colunas

In [96]:
candidatos.columns

Index(['SG_UF', 'SG_UE', 'NM_UE', 'DS_CARGO', 'NR_CANDIDATO',
       'NM_URNA_CANDIDATO', 'NM_SOCIAL_CANDIDATO', 'DS_SITUACAO_CANDIDATURA',
       'TP_AGREMIACAO', 'NR_PARTIDO', 'SG_PARTIDO', 'NM_PARTIDO',
       'NM_COLIGACAO', 'DS_COMPOSICAO_COLIGACAO', 'DS_NACIONALIDADE',
       'SG_UF_NASCIMENTO', 'NM_MUNICIPIO_NASCIMENTO', 'DT_NASCIMENTO',
       'NR_IDADE_DATA_POSSE', 'DS_GENERO', 'DS_GRAU_INSTRUCAO',
       'DS_ESTADO_CIVIL', 'DS_COR_RACA', 'DS_OCUPACAO',
       'VR_DESPESA_MAX_CAMPANHA', 'ST_REELEICAO',
       'ST_CANDIDATO_INSERIDO_URNA'],
      dtype='object')

In [97]:
novas_colunas = ['UF', 'SG_UE', 'NM_UE', 'CARGO ELEICAO',
                 'NUMERO CANDIDATO', 'NOME DO CANDIDATO NA URNA', 'NOME SOCIAL',
                 'SITUACAO CANDIDATURA', 'TIPO AGREMIACAO', 'NUMERO PARTIDO', 
                 'SIGLA PARTIDO', 'NOME PARTIDO', 'NOME COLIGACAO',
                 'COMPOSICAO COLIGACAO', 'NACIONALIDADE', 'UF NASCIMENTO', 'MUNICIPIO NASCIMENTO',
                 'DATA NASCIMENTO', 'IDADE DATA POSSE', 'GENERO', 'ESCOLARIDADE',
                 'ESTADO CIVIL', 'COR/RACA', 'OCUPACAO', 'DESPESA CAMPANHA', 'REELEICAO',
                 'INSERIDO NA URNA']
candidatos.columns = novas_colunas
candidatos.columns

Index(['UF', 'SG_UE', 'NM_UE', 'CARGO ELEICAO', 'NUMERO CANDIDATO',
       'NOME DO CANDIDATO NA URNA', 'NOME SOCIAL', 'SITUACAO CANDIDATURA',
       'TIPO AGREMIACAO', 'NUMERO PARTIDO', 'SIGLA PARTIDO', 'NOME PARTIDO',
       'NOME COLIGACAO', 'COMPOSICAO COLIGACAO', 'NACIONALIDADE',
       'UF NASCIMENTO', 'MUNICIPIO NASCIMENTO', 'DATA NASCIMENTO',
       'IDADE DATA POSSE', 'GENERO', 'ESCOLARIDADE', 'ESTADO CIVIL',
       'COR/RACA', 'OCUPACAO', 'DESPESA CAMPANHA', 'REELEICAO',
       'INSERIDO NA URNA'],
      dtype='object')

## Alterando os valores de sigla para descritivo na coluna UF

In [98]:
candidatos['UF'].sort_values().unique()

array(['AC', 'AL', 'AM', 'AP', 'BA', 'BR', 'CE', 'DF', 'ES', 'GO', 'MA',
       'MG', 'MS', 'MT', 'PA', 'PB', 'PE', 'PI', 'PR', 'RJ', 'RN', 'RO',
       'RR', 'RS', 'SC', 'SE', 'SP', 'TO'], dtype=object)

In [99]:
# Alterar os valores de sigla para descritivos
candidatos['UF'] = candidatos['UF'].map({
    'AC': 'ACRE',
    'AL': 'ALAGOAS',
    'AP': 'AMAPÁ',
    'AM': 'AMAZONAS',
    'BA': 'BAHIA',
    'BR': 'BRASIL',
    'CE': 'CEARÁ',
    'ES': 'ESPÍRITO SANTO',
    'GO': 'GOIÁS',
    'MA': 'MARANHÃO',
    'MT': 'MATO GROSSO',
    'MS': 'MATO GROSSO DO SUL',
    'MG': 'MINAS GERAIS',
    'PA': 'PARÁ',
    'PB': 'PARAÍBA',
    'PR': 'PARANÁ',
    'PE': 'PERNAMBUCO',
    'PI': 'PIAUÍ',
    'RJ': 'RIO DE JANEIRO',
    'RN': 'RIO GRANDE DO NORTE',
    'RS': 'RIO GRANDE DO SUL',
    'RO': 'RONDÔNIA',
    'RR': 'RORAIMA',
    'SC': 'SANTA CATARINA',
    'SP': 'SÃO PAULO',
    'SE': 'SERGIPE',
    'TO': 'TOCANTINS',
    'DF': 'DISTRITO FEDERAL',
    'ZZ': 'EXTERIOR'
})
candidatos['UF'].unique()

array(['RONDÔNIA', 'TOCANTINS', 'BAHIA', 'SANTA CATARINA',
       'RIO GRANDE DO SUL', 'AMAZONAS', 'ALAGOAS', 'DISTRITO FEDERAL',
       'SÃO PAULO', 'MINAS GERAIS', 'RIO DE JANEIRO', 'MARANHÃO', 'GOIÁS',
       'PERNAMBUCO', 'CEARÁ', 'MATO GROSSO', 'PARANÁ',
       'MATO GROSSO DO SUL', 'PARÁ', 'PIAUÍ', 'ACRE', 'SERGIPE',
       'ESPÍRITO SANTO', 'RIO GRANDE DO NORTE', 'PARAÍBA', 'RORAIMA',
       'AMAPÁ', 'BRASIL'], dtype=object)

## Alterando o tipo da coluna NUMERO CANDIDATO para string

In [100]:
candidatos['NUMERO CANDIDATO'] = candidatos['NUMERO CANDIDATO'].astype(object)
candidatos['NUMERO CANDIDATO'].dtype

dtype('O')

## Ordenação dos nomes dos candidatos

In [101]:
candidatos = candidatos.sort_values('NOME DO CANDIDATO NA URNA')

## Alterando os valores \#NULO\# para - na ocoluna NOME SOCIAL

In [102]:
candidatos['NOME SOCIAL'] = candidatos['NOME SOCIAL'].replace(['#NULO#'], '-')
candidatos['NOME SOCIAL'].isnull().sum()

0

## Concatenando os valores de SG_PARTIDO e NM_PARTIDO e gerar uma nova coluna com os respectivos valores

In [103]:
candidatos['PARTIDO'] = candidatos['SIGLA PARTIDO'] + ' - ' + candidatos['NOME PARTIDO']
candidatos.drop(['SIGLA PARTIDO', 'NOME PARTIDO'], axis=1, inplace=True)

In [104]:
candidatos.columns

Index(['UF', 'SG_UE', 'NM_UE', 'CARGO ELEICAO', 'NUMERO CANDIDATO',
       'NOME DO CANDIDATO NA URNA', 'NOME SOCIAL', 'SITUACAO CANDIDATURA',
       'TIPO AGREMIACAO', 'NUMERO PARTIDO', 'NOME COLIGACAO',
       'COMPOSICAO COLIGACAO', 'NACIONALIDADE', 'UF NASCIMENTO',
       'MUNICIPIO NASCIMENTO', 'DATA NASCIMENTO', 'IDADE DATA POSSE', 'GENERO',
       'ESCOLARIDADE', 'ESTADO CIVIL', 'COR/RACA', 'OCUPACAO',
       'DESPESA CAMPANHA', 'REELEICAO', 'INSERIDO NA URNA', 'PARTIDO'],
      dtype='object')

In [105]:
candidatos.head()

,UF,SG_UE,NM_UE,CARGO ELEICAO,NUMERO CANDIDATO,NOME DO CANDIDATO NA URNA,NOME SOCIAL,SITUACAO CANDIDATURA,TIPO AGREMIACAO,NUMERO PARTIDO,...,IDADE DATA POSSE,GENERO,ESCOLARIDADE,ESTADO CIVIL,COR/RACA,OCUPACAO,DESPESA CAMPANHA,REELEICAO,INSERIDO NA URNA,PARTIDO
18277,RIO DE JANEIRO,RJ,RIO DE JANEIRO,DEPUTADO FEDERAL,7050,A VERA,-,CADASTRADO,PARTIDO ISOLADO,70,...,61.0,FEMININO,SUPERIOR INCOMPLETO,CASADO(A),BRANCA,OUTROS,3176572.53,N,NÃO,AVANTE - AVANTE
10150,MATO GROSSO,MT,MATO GROSSO,DEPUTADO ESTADUAL,22100,ADAVILSO AZEVEDO,-,CADASTRADO,PARTIDO ISOLADO,22,...,43.0,MASCULINO,ENSINO MÉDIO INCOMPLETO,CASADO(A),BRANCA,EMPRESÁRIO,1270629.01,N,NÃO,PL - PARTIDO LIBERAL
5199,TOCANTINS,TO,TOCANTINS,DEPUTADO ESTADUAL,14222,ADONAY DIVINO,-,CADASTRADO,PARTIDO ISOLADO,14,...,43.0,MASCULINO,ENSINO MÉDIO COMPLETO,CASADO(A),PARDA,LOCUTOR E COMENTARISTA DE RÁDIO E TELEVISÃO E ...,1270629.01,N,NÃO,PTB - PARTIDO TRABALHISTA BRASILEIRO
19593,SANTA CATARINA,SC,SANTA CATARINA,DEPUTADO ESTADUAL,77022,AIRTONCORPOEALMA,-,CADASTRADO,PARTIDO ISOLADO,77,...,54.0,MASCULINO,ENSINO MÉDIO INCOMPLETO,CASADO(A),BRANCA,OUTROS,1270629.01,N,NÃO,SOLIDARIEDADE - SOLIDARIEDADE
27400,RIO DE JANEIRO,RJ,RIO DE JANEIRO,DEPUTADO ESTADUAL,35677,ANA PAULA ETA GLORIA,-,CADASTRADO,PARTIDO ISOLADO,35,...,48.0,FEMININO,ENSINO MÉDIO COMPLETO,SOLTEIRO(A),PARDA,EMPRESÁRIO,1270629.01,N,NÃO,PMB - PARTIDO DA MULHER BRASILEIRA

## Alterando valores da coluna REELEICAO

In [106]:
candidatos['REELEICAO'].value_counts()

N                 27259
S                  1327
Não divulgável       10
Name: REELEICAO, dtype: int64

In [107]:
candidatos['REELEICAO'] = candidatos['REELEICAO'].map({
    'S': 'SIM',
    'N': 'NAO'
})
candidatos['REELEICAO'].isnull().sum()

10

## Criando coluna de Faixa Etária

In [108]:
idades = candidatos['IDADE DATA POSSE']

In [109]:
idades.value_counts()

50.0    1038
47.0     983
48.0     974
44.0     956
49.0     939
        ...
92.0       1
87.0       1
88.0       1
18.0       1
89.0       1
Name: IDADE DATA POSSE, Length: 74, dtype: int64

In [110]:
idades.min(), idades.max()

(18.0, 96.0)

In [111]:
faixa_etaria = []
for idade in idades:
  if idade == 18 or idade == 19 or idade == 20:
    faixa_etaria.append(f'{idade} anos')
  elif idade > 20 and idade < 25:
    faixa_etaria.append('21 a 24 anos')
  elif idade > 24 and idade < 30:
    faixa_etaria.append('25 a 29 anos')
  elif idade > 29 and idade < 35:
    faixa_etaria.append('30 a 34 anos')
  elif idade > 34 and idade < 40:
    faixa_etaria.append('35 a 39 anos')
  elif idade > 39 and idade < 45:
    faixa_etaria.append('40 a 44 anos')
  elif idade > 44 and idade < 50:
    faixa_etaria.append('45 a 49 anos')
  elif idade > 49 and idade < 55:
    faixa_etaria.append('50 a 54 anos')
  elif idade > 54 and idade < 60:
    faixa_etaria.append('55 a 59 anos')
  elif idade > 59 and idade < 65:
    faixa_etaria.append('60 a 64 anos')
  elif idade > 64 and idade < 70:
    faixa_etaria.append('65 a 69 anos')
  elif idade > 69 and idade < 75:
    faixa_etaria.append('70 a 74 anos')
  elif idade > 74 and idade < 80:
    faixa_etaria.append('75 a 79 anos')
  elif idade > 79 and idade < 85:
    faixa_etaria.append('80 a 84 anos')
  elif idade > 84 and idade < 90:
    faixa_etaria.append('85 a 89 anos')
  elif idade > 89 and idade < 95:
    faixa_etaria.append('90 a 94 anos')
  elif idade > 94:
    faixa_etaria.append('95 a 99 anos')
  else:
    faixa_etaria.append('Inválido')
len(faixa_etaria)

28596

In [112]:
candidatos['IDADE DATA POSSE'] = faixa_etaria
candidatos.rename(columns={'IDADE DATA POSSE': 'FAIXA ETARIA'}, inplace=True)
candidatos.head()

,UF,SG_UE,NM_UE,CARGO ELEICAO,NUMERO CANDIDATO,NOME DO CANDIDATO NA URNA,NOME SOCIAL,SITUACAO CANDIDATURA,TIPO AGREMIACAO,NUMERO PARTIDO,...,FAIXA ETARIA,GENERO,ESCOLARIDADE,ESTADO CIVIL,COR/RACA,OCUPACAO,DESPESA CAMPANHA,REELEICAO,INSERIDO NA URNA,PARTIDO
18277,RIO DE JANEIRO,RJ,RIO DE JANEIRO,DEPUTADO FEDERAL,7050,A VERA,-,CADASTRADO,PARTIDO ISOLADO,70,...,60 a 64 anos,FEMININO,SUPERIOR INCOMPLETO,CASADO(A),BRANCA,OUTROS,3176572.53,NAO,NÃO,AVANTE - AVANTE
10150,MATO GROSSO,MT,MATO GROSSO,DEPUTADO ESTADUAL,22100,ADAVILSO AZEVEDO,-,CADASTRADO,PARTIDO ISOLADO,22,...,40 a 44 anos,MASCULINO,ENSINO MÉDIO INCOMPLETO,CASADO(A),BRANCA,EMPRESÁRIO,1270629.01,NAO,NÃO,PL - PARTIDO LIBERAL
5199,TOCANTINS,TO,TOCANTINS,DEPUTADO ESTADUAL,14222,ADONAY DIVINO,-,CADASTRADO,PARTIDO ISOLADO,14,...,40 a 44 anos,MASCULINO,ENSINO MÉDIO COMPLETO,CASADO(A),PARDA,LOCUTOR E COMENTARISTA DE RÁDIO E TELEVISÃO E ...,1270629.01,NAO,NÃO,PTB - PARTIDO TRABALHISTA BRASILEIRO
19593,SANTA CATARINA,SC,SANTA CATARINA,DEPUTADO ESTADUAL,77022,AIRTONCORPOEALMA,-,CADASTRADO,PARTIDO ISOLADO,77,...,50 a 54 anos,MASCULINO,ENSINO MÉDIO INCOMPLETO,CASADO(A),BRANCA,OUTROS,1270629.01,NAO,NÃO,SOLIDARIEDADE - SOLIDARIEDADE
27400,RIO DE JANEIRO,RJ,RIO DE JANEIRO,DEPUTADO ESTADUAL,35677,ANA PAULA ETA GLORIA,-,CADASTRADO,PARTIDO ISOLADO,35,...,45 a 49 anos,FEMININO,ENSINO MÉDIO COMPLETO,SOLTEIRO(A),PARDA,EMPRESÁRIO,1270629.01,NAO,NÃO,PMB - PARTIDO DA MULHER BRASILEIRA

## Selecionando colunas necessárias

In [113]:
candidatos.head()

,UF,SG_UE,NM_UE,CARGO ELEICAO,NUMERO CANDIDATO,NOME DO CANDIDATO NA URNA,NOME SOCIAL,SITUACAO CANDIDATURA,TIPO AGREMIACAO,NUMERO PARTIDO,...,FAIXA ETARIA,GENERO,ESCOLARIDADE,ESTADO CIVIL,COR/RACA,OCUPACAO,DESPESA CAMPANHA,REELEICAO,INSERIDO NA URNA,PARTIDO
18277,RIO DE JANEIRO,RJ,RIO DE JANEIRO,DEPUTADO FEDERAL,7050,A VERA,-,CADASTRADO,PARTIDO ISOLADO,70,...,60 a 64 anos,FEMININO,SUPERIOR INCOMPLETO,CASADO(A),BRANCA,OUTROS,3176572.53,NAO,NÃO,AVANTE - AVANTE
10150,MATO GROSSO,MT,MATO GROSSO,DEPUTADO ESTADUAL,22100,ADAVILSO AZEVEDO,-,CADASTRADO,PARTIDO ISOLADO,22,...,40 a 44 anos,MASCULINO,ENSINO MÉDIO INCOMPLETO,CASADO(A),BRANCA,EMPRESÁRIO,1270629.01,NAO,NÃO,PL - PARTIDO LIBERAL
5199,TOCANTINS,TO,TOCANTINS,DEPUTADO ESTADUAL,14222,ADONAY DIVINO,-,CADASTRADO,PARTIDO ISOLADO,14,...,40 a 44 anos,MASCULINO,ENSINO MÉDIO COMPLETO,CASADO(A),PARDA,LOCUTOR E COMENTARISTA DE RÁDIO E TELEVISÃO E ...,1270629.01,NAO,NÃO,PTB - PARTIDO TRABALHISTA BRASILEIRO
19593,SANTA CATARINA,SC,SANTA CATARINA,DEPUTADO ESTADUAL,77022,AIRTONCORPOEALMA,-,CADASTRADO,PARTIDO ISOLADO,77,...,50 a 54 anos,MASCULINO,ENSINO MÉDIO INCOMPLETO,CASADO(A),BRANCA,OUTROS,1270629.01,NAO,NÃO,SOLIDARIEDADE - SOLIDARIEDADE
27400,RIO DE JANEIRO,RJ,RIO DE JANEIRO,DEPUTADO ESTADUAL,35677,ANA PAULA ETA GLORIA,-,CADASTRADO,PARTIDO ISOLADO,35,...,45 a 49 anos,FEMININO,ENSINO MÉDIO COMPLETO,SOLTEIRO(A),PARDA,EMPRESÁRIO,1270629.01,NAO,NÃO,PMB - PARTIDO DA MULHER BRASILEIRA

## Geração de DataFrame de partidos

In [114]:
partidos = candidatos.copy()
partidos.head(3)

,UF,SG_UE,NM_UE,CARGO ELEICAO,NUMERO CANDIDATO,NOME DO CANDIDATO NA URNA,NOME SOCIAL,SITUACAO CANDIDATURA,TIPO AGREMIACAO,NUMERO PARTIDO,...,FAIXA ETARIA,GENERO,ESCOLARIDADE,ESTADO CIVIL,COR/RACA,OCUPACAO,DESPESA CAMPANHA,REELEICAO,INSERIDO NA URNA,PARTIDO
18277,RIO DE JANEIRO,RJ,RIO DE JANEIRO,DEPUTADO FEDERAL,7050,A VERA,-,CADASTRADO,PARTIDO ISOLADO,70,...,60 a 64 anos,FEMININO,SUPERIOR INCOMPLETO,CASADO(A),BRANCA,OUTROS,3176572.53,NAO,NÃO,AVANTE - AVANTE
10150,MATO GROSSO,MT,MATO GROSSO,DEPUTADO ESTADUAL,22100,ADAVILSO AZEVEDO,-,CADASTRADO,PARTIDO ISOLADO,22,...,40 a 44 anos,MASCULINO,ENSINO MÉDIO INCOMPLETO,CASADO(A),BRANCA,EMPRESÁRIO,1270629.01,NAO,NÃO,PL - PARTIDO LIBERAL
5199,TOCANTINS,TO,TOCANTINS,DEPUTADO ESTADUAL,14222,ADONAY DIVINO,-,CADASTRADO,PARTIDO ISOLADO,14,...,40 a 44 anos,MASCULINO,ENSINO MÉDIO COMPLETO,CASADO(A),PARDA,LOCUTOR E COMENTARISTA DE RÁDIO E TELEVISÃO E ...,1270629.01,NAO,NÃO,PTB - PARTIDO TRABALHISTA BRASILEIRO

### Seleção das colunas necessárias

In [115]:
partidos = partidos[['PARTIDO', 'NUMERO PARTIDO', 'UF', 'CARGO ELEICAO', 'NOME COLIGACAO', 'ESCOLARIDADE', 'GENERO', 'FAIXA ETARIA', 'ESTADO CIVIL', 'COR/RACA', 'REELEICAO']]
partidos.head()

,PARTIDO,NUMERO PARTIDO,UF,CARGO ELEICAO,NOME COLIGACAO,ESCOLARIDADE,GENERO,FAIXA ETARIA,ESTADO CIVIL,COR/RACA,REELEICAO
18277,AVANTE - AVANTE,70,RIO DE JANEIRO,DEPUTADO FEDERAL,PARTIDO ISOLADO,SUPERIOR INCOMPLETO,FEMININO,60 a 64 anos,CASADO(A),BRANCA,NAO
10150,PL - PARTIDO LIBERAL,22,MATO GROSSO,DEPUTADO ESTADUAL,PARTIDO ISOLADO,ENSINO MÉDIO INCOMPLETO,MASCULINO,40 a 44 anos,CASADO(A),BRANCA,NAO
5199,PTB - PARTIDO TRABALHISTA BRASILEIRO,14,TOCANTINS,DEPUTADO ESTADUAL,PARTIDO ISOLADO,ENSINO MÉDIO COMPLETO,MASCULINO,40 a 44 anos,CASADO(A),PARDA,NAO
19593,SOLIDARIEDADE - SOLIDARIEDADE,77,SANTA CATARINA,DEPUTADO ESTADUAL,PARTIDO ISOLADO,ENSINO MÉDIO INCOMPLETO,MASCULINO,50 a 54 anos,CASADO(A),BRANCA,NAO
27400,PMB - PARTIDO DA MULHER BRASILEIRA,35,RIO DE JANEIRO,DEPUTADO ESTADUAL,PARTIDO ISOLADO,ENSINO MÉDIO COMPLETO,FEMININO,45 a 49 anos,SOLTEIRO(A),PARDA,NAO

In [116]:
partidos['NUMERO PARTIDO'] = partidos['NUMERO PARTIDO'].astype(object)

## Geração de DataFrame com dados dos estados brasileiros

In [117]:
candidatos_por_estado = candidatos.copy()
candidatos_por_estado.head(3)

,UF,SG_UE,NM_UE,CARGO ELEICAO,NUMERO CANDIDATO,NOME DO CANDIDATO NA URNA,NOME SOCIAL,SITUACAO CANDIDATURA,TIPO AGREMIACAO,NUMERO PARTIDO,...,FAIXA ETARIA,GENERO,ESCOLARIDADE,ESTADO CIVIL,COR/RACA,OCUPACAO,DESPESA CAMPANHA,REELEICAO,INSERIDO NA URNA,PARTIDO
18277,RIO DE JANEIRO,RJ,RIO DE JANEIRO,DEPUTADO FEDERAL,7050,A VERA,-,CADASTRADO,PARTIDO ISOLADO,70,...,60 a 64 anos,FEMININO,SUPERIOR INCOMPLETO,CASADO(A),BRANCA,OUTROS,3176572.53,NAO,NÃO,AVANTE - AVANTE
10150,MATO GROSSO,MT,MATO GROSSO,DEPUTADO ESTADUAL,22100,ADAVILSO AZEVEDO,-,CADASTRADO,PARTIDO ISOLADO,22,...,40 a 44 anos,MASCULINO,ENSINO MÉDIO INCOMPLETO,CASADO(A),BRANCA,EMPRESÁRIO,1270629.01,NAO,NÃO,PL - PARTIDO LIBERAL
5199,TOCANTINS,TO,TOCANTINS,DEPUTADO ESTADUAL,14222,ADONAY DIVINO,-,CADASTRADO,PARTIDO ISOLADO,14,...,40 a 44 anos,MASCULINO,ENSINO MÉDIO COMPLETO,CASADO(A),PARDA,LOCUTOR E COMENTARISTA DE RÁDIO E TELEVISÃO E ...,1270629.01,NAO,NÃO,PTB - PARTIDO TRABALHISTA BRASILEIRO

In [118]:
candidatos_por_estado = candidatos_por_estado[['UF', 'GENERO', 'ESCOLARIDADE', 'FAIXA ETARIA', 'ESTADO CIVIL', 'COR/RACA']]
candidatos_por_estado.head()

,UF,GENERO,ESCOLARIDADE,FAIXA ETARIA,ESTADO CIVIL,COR/RACA
18277,RIO DE JANEIRO,FEMININO,SUPERIOR INCOMPLETO,60 a 64 anos,CASADO(A),BRANCA
10150,MATO GROSSO,MASCULINO,ENSINO MÉDIO INCOMPLETO,40 a 44 anos,CASADO(A),BRANCA
5199,TOCANTINS,MASCULINO,ENSINO MÉDIO COMPLETO,40 a 44 anos,CASADO(A),PARDA
19593,SANTA CATARINA,MASCULINO,ENSINO MÉDIO INCOMPLETO,50 a 54 anos,CASADO(A),BRANCA
27400,RIO DE JANEIRO,FEMININO,ENSINO MÉDIO COMPLETO,45 a 49 anos,SOLTEIRO(A),PARDA

## Renomeação das colunas de todos os DataFrames gerados

In [119]:
candidatos = candidatos[['NOME DO CANDIDATO NA URNA', 'CARGO ELEICAO', 'PARTIDO', 'NACIONALIDADE', 'OCUPACAO', 'GENERO', 'NUMERO CANDIDATO', 'SITUACAO CANDIDATURA', 'ESCOLARIDADE', 'FAIXA ETARIA', 'ESTADO CIVIL']]

In [120]:
candidatos.columns = ['nome', 'cargo_eleicao', 'partido', 'nacionalidade', 'ocupacao', 'genero', 'numero_candidato', 'situacao_candidatura', 'escolaridade', 'faixa_etaria', 'estado_civil']

In [121]:
partidos.columns = ['nome', 'numero', 'uf', 'cargo_eleicao', 'coligacao', 'escolaridade', 'genero', 'faixa_etaria', 'estado_civil', 'cor_raca', 'reeleicao']

In [122]:
candidatos_por_estado.columns = ['uf', 'genero', 'escolaridade', 'faixa_etaria', 'estado_civil', 'cor_raca']

# Geração dos arquivos csv

In [123]:
candidatos.to_csv('/content/drive/MyDrive/candidatos-preprocessados.csv', index=False)

In [124]:
# Gerar um csv para analisar partidos
partidos.to_csv('/content/drive/MyDrive/partidos.csv', index=False)

In [125]:
# Gerar um csv com informações dos estados brasileiros
candidatos_por_estado.to_csv('/content/drive/MyDrive/candidatos_por_estado.csv', index=False)