# Bibliotecas

In [1]:
import pandas as pd
import numpy as np

import os  
os.makedirs('/content/csv/', exist_ok=True)

# Dataset

In [2]:
eleitorado = pd.read_csv('/content/drive/MyDrive/Graduação/4° Semestre/PI III/Datasets/Eleitorado/perfil_eleitorado_2022.csv', sep=';', encoding='latin 1')
eleitorado.head()

,DT_GERACAO,HH_GERACAO,ANO_ELEICAO,SG_UF,CD_MUNICIPIO,NM_MUNICIPIO,CD_MUN_SIT_BIOMETRICA,DS_MUN_SIT_BIOMETRICA,NR_ZONA,CD_GENERO,...,CD_ESTADO_CIVIL,DS_ESTADO_CIVIL,CD_FAIXA_ETARIA,DS_FAIXA_ETARIA,CD_GRAU_ESCOLARIDADE,DS_GRAU_ESCOLARIDADE,QT_ELEITORES_PERFIL,QT_ELEITORES_BIOMETRIA,QT_ELEITORES_DEFICIENCIA,QT_ELEITORES_INC_NM_SOCIAL
0,11/07/2022,22:32:34,2022,PE,24430,IPOJUCA,1,Biométrico,16,4,...,1,SOLTEIRO,4549,45 a 49 anos,2,LÊ E ESCREVE,342,338,1,0
1,11/07/2022,22:32:34,2022,PE,24430,IPOJUCA,1,Biométrico,16,4,...,1,SOLTEIRO,4549,45 a 49 anos,3,ENSINO FUNDAMENTAL INCOMPLETO,753,744,3,0
2,11/07/2022,22:32:34,2022,PE,24430,IPOJUCA,1,Biométrico,16,4,...,1,SOLTEIRO,4549,45 a 49 anos,4,ENSINO FUNDAMENTAL COMPLETO,138,136,0,0
3,11/07/2022,22:32:34,2022,PE,24430,IPOJUCA,1,Biométrico,16,4,...,1,SOLTEIRO,4549,45 a 49 anos,5,ENSINO MÉDIO INCOMPLETO,150,145,1,0
4,11/07/2022,22:32:34,2022,PE,24430,IPOJUCA,1,Biométrico,16,4,...,1,SOLTEIRO,4549,45 a 49 anos,6,ENSINO MÉDIO COMPLETO,558,552,0,0

In [3]:
eleitorado.shape

(4362480, 21)

# Exploração de dados

## Valores por coluna

In [4]:
eleitorado['DT_GERACAO'].value_counts()

11/07/2022    4362480
Name: DT_GERACAO, dtype: int64

In [5]:
eleitorado['HH_GERACAO'].value_counts()

22:32:34    4362480
Name: HH_GERACAO, dtype: int64

In [6]:
eleitorado['ANO_ELEICAO'].value_counts()

2022    4362480
Name: ANO_ELEICAO, dtype: int64

In [7]:
eleitorado['SG_UF'].value_counts()

SP    648813
MG    614368
RS    323981
BA    320610
PR    290415
RJ    201993
SC    201819
GO    173632
CE    162691
PE    162647
MA    143722
PB    142102
PI    129566
PA    124118
RN    106730
MT     94728
TO     74733
AL     70946
ES     69940
MS     67657
SE     51133
AM     51053
RO     40067
ZZ     36910
DF     19891
AC     16081
AP     11396
RR     10738
Name: SG_UF, dtype: int64

In [8]:
eleitorado['CD_MUNICIPIO'].value_counts()

71072    69222
60011    62048
41238    21436
13897    20284
97012    19891
         ...
99384        1
99198        1
99252        1
99350        1
99147        1
Name: CD_MUNICIPIO, Length: 5751, dtype: int64

In [9]:
eleitorado['NM_MUNICIPIO'].value_counts()

SÃO PAULO         69222
RIO DE JANEIRO    62048
BELO HORIZONTE    21436
FORTALEZA         20284
BRASÍLIA          19891
                  ...
BAMAKO                1
CASTRIES              1
SAINT JOHNS           1
ABUJA                 1
VATICANO              1
Name: NM_MUNICIPIO, Length: 5466, dtype: int64

In [10]:
eleitorado['CD_MUN_SIT_BIOMETRICA'].value_counts()

1    3250983
2    1033158
0      78339
Name: CD_MUN_SIT_BIOMETRICA, dtype: int64

In [11]:
eleitorado['DS_MUN_SIT_BIOMETRICA'].value_counts()

Biométrico       3250983
Híbrido          1033158
Sem biometria      78339
Name: DS_MUN_SIT_BIOMETRICA, dtype: int64

In [12]:
eleitorado['NR_ZONA'].value_counts()

1      71168
8      47962
4      43394
11     43159
9      42194
       ...
360      997
391      986
292      975
309      822
308      820
Name: NR_ZONA, Length: 421, dtype: int64

In [13]:
eleitorado['CD_GENERO'].value_counts()

4    2296524
2    2045270
0      20686
Name: CD_GENERO, dtype: int64

In [14]:
eleitorado['DS_GENERO'].value_counts()

FEMININO         2296524
MASCULINO        2045270
NÃO INFORMADO      20686
Name: DS_GENERO, dtype: int64

In [15]:
eleitorado['CD_ESTADO_CIVIL'].value_counts()

1    1434310
3    1254845
9     657281
5     576570
7     407713
0      31761
Name: CD_ESTADO_CIVIL, dtype: int64

In [16]:
eleitorado['DS_ESTADO_CIVIL'].value_counts()

SOLTEIRO                  1434310
CASADO                    1254845
DIVORCIADO                 657281
VIÚVO                      576570
SEPARADO JUDICIALMENTE     407713
NÃO INFORMADO               31761
Name: DS_ESTADO_CIVIL, dtype: int64

In [17]:
eleitorado['CD_FAIXA_ETARIA'].value_counts()

 5559    361283
 6064    357045
 5054    343393
 6569    338710
 4549    325148
 4044    305263
 7074    303796
 3539    271987
 7579    256956
 3034    233324
 8084    209143
 2529    193905
 8589    158714
 2124    138953
 9094    113441
 2000     81827
 1900     77386
 9599     75627
 1800     70978
 1700     55011
 9999     45327
 1600     43329
-3         1934
Name: CD_FAIXA_ETARIA, dtype: int64

In [18]:
eleitorado['DS_FAIXA_ETARIA'].value_counts()

55 a 59 anos                      361283
60 a 64 anos                      357045
50 a 54 anos                      343393
65 a 69 anos                      338710
45 a 49 anos                      325148
40 a 44 anos                      305263
70 a 74 anos                      303796
35 a 39 anos                      271987
75 a 79 anos                      256956
30 a 34 anos                      233324
80 a 84 anos                      209143
25 a 29 anos                      193905
85 a 89 anos                      158714
21 a 24 anos                      138953
90 a 94 anos                      113441
20 anos                            81827
19 anos                            77386
95 a 99 anos                       75627
18 anos                            70978
17 anos                            55011
100 anos ou mais                   45327
16 anos                            43329
Inválido                            1934
Name: DS_FAIXA_ETARIA, dtype: int64

In [19]:
eleitorado['CD_GRAU_ESCOLARIDADE'].value_counts()

3    734753
6    634711
2    592284
4    540904
1    508282
5    503920
8    473782
7    358359
0     15485
Name: CD_GRAU_ESCOLARIDADE, dtype: int64

In [20]:
eleitorado['DS_GRAU_ESCOLARIDADE'].value_counts()

ENSINO FUNDAMENTAL INCOMPLETO    734753
ENSINO MÉDIO COMPLETO            634711
LÊ E ESCREVE                     592284
ENSINO FUNDAMENTAL COMPLETO      540904
ANALFABETO                       508282
ENSINO MÉDIO INCOMPLETO          503920
SUPERIOR COMPLETO                473782
SUPERIOR INCOMPLETO              358359
NÃO INFORMADO                     15485
Name: DS_GRAU_ESCOLARIDADE, dtype: int64

In [21]:
eleitorado['QT_ELEITORES_PERFIL'].value_counts()

1       1022814
2        494916
3        317318
4        229112
5        177518
         ...
3778          1
2454          1
2789          1
4265          1
2819          1
Name: QT_ELEITORES_PERFIL, Length: 3121, dtype: int64

In [22]:
eleitorado['QT_ELEITORES_BIOMETRIA'].value_counts()

1       892465
0       608288
2       440756
3       283061
4       204921
         ...
2912         1
2547         1
2292         1
2285         1
2314         1
Name: QT_ELEITORES_BIOMETRIA, Length: 2808, dtype: int64

In [23]:
eleitorado['QT_ELEITORES_DEFICIENCIA'].value_counts()

0      3787591
1       357700
2        98536
3        43896
4        23905
        ...
146          1
171          1
239          1
253          1
127          1
Name: QT_ELEITORES_DEFICIENCIA, Length: 169, dtype: int64

In [24]:
eleitorado['QT_ELEITORES_INC_NM_SOCIAL'].value_counts()

0     4331754
1       25785
2        3616
3         893
4         296
5          89
6          27
7          12
8           3
9           3
12          2
Name: QT_ELEITORES_INC_NM_SOCIAL, dtype: int64

## Valores faltantes por coluna
O script abaixo verifica somente valores NaN. Será necessário verificar o [dicionário de dados](https://drive.google.com/file/d/1CVEJmTwDLaGktWEMSipLT6ygwHelZIOf/view?usp=sharing) para consultar qual valor foi usado para representar valores ausentes em cada coluna.

In [25]:
colunas = eleitorado.columns.values
colunas = colunas.tolist()
valores_ausentes = []
for col in colunas:
  n_ausentes = eleitorado[col].isnull().sum()
  valores_ausentes.append(n_ausentes)

In [26]:
print(len(colunas))
print(len(valores_ausentes))

21
21

In [27]:
cont = 0
print('Coluna\t\t\t\t\tValores Ausentes')
for coluna in colunas:
  if len(coluna) <= 7:
    print(f'{coluna}\t\t\t\t\t{valores_ausentes[cont]}')
  elif len(coluna) >= 19 and len(coluna) <= 22:
    print(f'{coluna}\t\t\t{valores_ausentes[cont]}')
  elif len(coluna) >= 24 and len(colunas) <= 26:
    print(f'{coluna}\t\t{valores_ausentes[cont]}')
  else:
    print(f'{coluna}\t\t\t\t{valores_ausentes[cont]}')
  cont = cont + 1

Coluna					Valores Ausentes
DT_GERACAO				0
HH_GERACAO				0
ANO_ELEICAO				0
SG_UF					0
CD_MUNICIPIO				0
NM_MUNICIPIO				0
CD_MUN_SIT_BIOMETRICA			0
DS_MUN_SIT_BIOMETRICA			0
NR_ZONA					0
CD_GENERO				0
DS_GENERO				0
CD_ESTADO_CIVIL				0
DS_ESTADO_CIVIL				0
CD_FAIXA_ETARIA				0
DS_FAIXA_ETARIA				0
CD_GRAU_ESCOLARIDADE			0
DS_GRAU_ESCOLARIDADE			0
QT_ELEITORES_PERFIL			0
QT_ELEITORES_BIOMETRIA			0
QT_ELEITORES_DEFICIENCIA		0
QT_ELEITORES_INC_NM_SOCIAL		0

# Pré-processamento de Dados

## Separação das colunas por tipo de dado

In [28]:
colunas_de_data_e_hora = ['DT_GERACAO', 'HH_GERACAO', 'ANO_ELEICAO']
colunas_de_codigo = ['CD_MUNICIPIO', 'CD_MUN_SIT_BIOMETRICA', 'CD_GENERO', 
                    'CD_ESTADO_CIVIL', 'CD_FAIXA_ETARIA', 'CD_GRAU_ESCOLARIDADE']
colunas_de_texto = ['SG_UF', 'NM_MUNICIPIO', 'DS_MUN_SIT_BIOMETRICA', 
                    'DS_GENERO', 'DS_ESTADO_CIVIL', 'DS_FAIXA_ETARIA', 
                    'DS_GRAU_ESCOLARIDADE']
colunas_numericas = ['NR_ZONA', 'QT_ELEITORES_PERFIL', 'QT_ELEITORES_BIOMETRIA',
                     'QT_ELEITORES_DEFICIENCIA', 'QT_ELEITORES_INC_NM_SOCIAL']

## Removendo as colunas de código e de data e hora

In [29]:
eleitorado.drop(colunas_de_data_e_hora, axis=1, inplace=True)
eleitorado.drop(colunas_de_codigo, axis=1, inplace=True)

In [30]:
eleitorado.head()

,SG_UF,NM_MUNICIPIO,DS_MUN_SIT_BIOMETRICA,NR_ZONA,DS_GENERO,DS_ESTADO_CIVIL,DS_FAIXA_ETARIA,DS_GRAU_ESCOLARIDADE,QT_ELEITORES_PERFIL,QT_ELEITORES_BIOMETRIA,QT_ELEITORES_DEFICIENCIA,QT_ELEITORES_INC_NM_SOCIAL
0,PE,IPOJUCA,Biométrico,16,FEMININO,SOLTEIRO,45 a 49 anos,LÊ E ESCREVE,342,338,1,0
1,PE,IPOJUCA,Biométrico,16,FEMININO,SOLTEIRO,45 a 49 anos,ENSINO FUNDAMENTAL INCOMPLETO,753,744,3,0
2,PE,IPOJUCA,Biométrico,16,FEMININO,SOLTEIRO,45 a 49 anos,ENSINO FUNDAMENTAL COMPLETO,138,136,0,0
3,PE,IPOJUCA,Biométrico,16,FEMININO,SOLTEIRO,45 a 49 anos,ENSINO MÉDIO INCOMPLETO,150,145,1,0
4,PE,IPOJUCA,Biométrico,16,FEMININO,SOLTEIRO,45 a 49 anos,ENSINO MÉDIO COMPLETO,558,552,0,0

## Alterando as siglas dos estados pelos seus respectivos nomes

In [31]:
eleitorado['SG_UF'] = eleitorado['SG_UF'].map({
    'AC': 'ACRE',
    'AL': 'ALAGOAS',
    'AP': 'AMAPÁ',
    'AM': 'AMAZONAS',
    'BA': 'BAHIA',
    'CE': 'CEARÁ',
    'ES': 'ESPÍRITO SANTO',
    'GO': 'GOIÁS',
    'MA': 'MARANHÃO',
    'MT': 'MATO GROSSO',
    'MS': 'MATO GROSSO DO SUL',
    'MG': 'MINAS GERAIS',
    'PA': 'PARÁ',
    'PB': 'PARAÍBA',
    'PR': 'PARANÁ',
    'PE': 'PERNAMBUCO',
    'PI': 'PIAUÍ',
    'RJ': 'RIO DE JANEIRO',
    'RN': 'RIO GRANDE DO NORTE',
    'RS': 'RIO GRANDE DO SUL',
    'RO': 'RONDÔNIA',
    'RR': 'RORAIMA',
    'SC': 'SANTA CATARINA',
    'SP': 'SÃO PAULO',
    'SE': 'SERGIPE',
    'TO': 'TOCANTINS',
    'DF': 'DISTRITO FEDERAL',
    'ZZ': 'EXTERIOR'
})

In [32]:
eleitorado['SG_UF'].value_counts()

SÃO PAULO              648813
MINAS GERAIS           614368
RIO GRANDE DO SUL      323981
BAHIA                  320610
PARANÁ                 290415
RIO DE JANEIRO         201993
SANTA CATARINA         201819
GOIÁS                  173632
CEARÁ                  162691
PERNAMBUCO             162647
MARANHÃO               143722
PARAÍBA                142102
PIAUÍ                  129566
PARÁ                   124118
RIO GRANDE DO NORTE    106730
MATO GROSSO             94728
TOCANTINS               74733
ALAGOAS                 70946
ESPÍRITO SANTO          69940
MATO GROSSO DO SUL      67657
SERGIPE                 51133
AMAZONAS                51053
RONDÔNIA                40067
EXTERIOR                36910
DISTRITO FEDERAL        19891
ACRE                    16081
AMAPÁ                   11396
RORAIMA                 10738
Name: SG_UF, dtype: int64

In [33]:
eleitorado['SG_UF'].isnull().sum()

0

## Alterando os valores da coluna DS_MUN_SIT_BIOMETRICA para uppercase

In [34]:
eleitorado['DS_MUN_SIT_BIOMETRICA'] = eleitorado['DS_MUN_SIT_BIOMETRICA'].map({
    'Biométrico': 'BIOMÉTRICO',
    'Híbrido': 'HÍBRIDO',
    'Sem Biometria': 'SEM BIOMETRIA'
})

## Removendo a coluna NR_ZONA

In [35]:
eleitorado.drop('NR_ZONA', axis=1, inplace=True)
eleitorado.head()

,SG_UF,NM_MUNICIPIO,DS_MUN_SIT_BIOMETRICA,DS_GENERO,DS_ESTADO_CIVIL,DS_FAIXA_ETARIA,DS_GRAU_ESCOLARIDADE,QT_ELEITORES_PERFIL,QT_ELEITORES_BIOMETRIA,QT_ELEITORES_DEFICIENCIA,QT_ELEITORES_INC_NM_SOCIAL
0,PERNAMBUCO,IPOJUCA,BIOMÉTRICO,FEMININO,SOLTEIRO,45 a 49 anos,LÊ E ESCREVE,342,338,1,0
1,PERNAMBUCO,IPOJUCA,BIOMÉTRICO,FEMININO,SOLTEIRO,45 a 49 anos,ENSINO FUNDAMENTAL INCOMPLETO,753,744,3,0
2,PERNAMBUCO,IPOJUCA,BIOMÉTRICO,FEMININO,SOLTEIRO,45 a 49 anos,ENSINO FUNDAMENTAL COMPLETO,138,136,0,0
3,PERNAMBUCO,IPOJUCA,BIOMÉTRICO,FEMININO,SOLTEIRO,45 a 49 anos,ENSINO MÉDIO INCOMPLETO,150,145,1,0
4,PERNAMBUCO,IPOJUCA,BIOMÉTRICO,FEMININO,SOLTEIRO,45 a 49 anos,ENSINO MÉDIO COMPLETO,558,552,0,0

## Removendo espaços após o texto da coluna de Faixa Etária

In [36]:
eleitorado['DS_FAIXA_ETARIA'].value_counts().index

Index(['55 a 59 anos                  ', '60 a 64 anos                  ',
       '50 a 54 anos                  ', '65 a 69 anos                  ',
       '45 a 49 anos                  ', '40 a 44 anos                  ',
       '70 a 74 anos                  ', '35 a 39 anos                  ',
       '75 a 79 anos                  ', '30 a 34 anos                  ',
       '80 a 84 anos                  ', '25 a 29 anos                  ',
       '85 a 89 anos                  ', '21 a 24 anos                  ',
       '90 a 94 anos                  ', '20 anos                       ',
       '19 anos                       ', '95 a 99 anos                  ',
       '18 anos                       ', '17 anos                       ',
       '100 anos ou mais              ', '16 anos                       ',
       'Inválido                      '],
      dtype='object')

In [37]:
nova_faixa_etaria = []
for e in eleitorado['DS_FAIXA_ETARIA']:
  nova_faixa_etaria.append(e.strip())

eleitorado['DS_FAIXA_ETARIA'] = nova_faixa_etaria

In [38]:
eleitorado['DS_FAIXA_ETARIA'].value_counts().index

Index(['55 a 59 anos', '60 a 64 anos', '50 a 54 anos', '65 a 69 anos',
       '45 a 49 anos', '40 a 44 anos', '70 a 74 anos', '35 a 39 anos',
       '75 a 79 anos', '30 a 34 anos', '80 a 84 anos', '25 a 29 anos',
       '85 a 89 anos', '21 a 24 anos', '90 a 94 anos', '20 anos', '19 anos',
       '95 a 99 anos', '18 anos', '17 anos', '100 anos ou mais', '16 anos',
       'Inválido'],
      dtype='object')

## Removendo valores inválidos da coluna de Faixa Etária

In [39]:
index_invalidos = eleitorado[eleitorado['DS_FAIXA_ETARIA'] == 'Inválido'].index
eleitorado.drop(index_invalidos, axis=0, inplace=True)

## Removendo a coluna MUN_SIT_BIOMETRICA

In [40]:
eleitorado.head()

,SG_UF,NM_MUNICIPIO,DS_MUN_SIT_BIOMETRICA,DS_GENERO,DS_ESTADO_CIVIL,DS_FAIXA_ETARIA,DS_GRAU_ESCOLARIDADE,QT_ELEITORES_PERFIL,QT_ELEITORES_BIOMETRIA,QT_ELEITORES_DEFICIENCIA,QT_ELEITORES_INC_NM_SOCIAL
0,PERNAMBUCO,IPOJUCA,BIOMÉTRICO,FEMININO,SOLTEIRO,45 a 49 anos,LÊ E ESCREVE,342,338,1,0
1,PERNAMBUCO,IPOJUCA,BIOMÉTRICO,FEMININO,SOLTEIRO,45 a 49 anos,ENSINO FUNDAMENTAL INCOMPLETO,753,744,3,0
2,PERNAMBUCO,IPOJUCA,BIOMÉTRICO,FEMININO,SOLTEIRO,45 a 49 anos,ENSINO FUNDAMENTAL COMPLETO,138,136,0,0
3,PERNAMBUCO,IPOJUCA,BIOMÉTRICO,FEMININO,SOLTEIRO,45 a 49 anos,ENSINO MÉDIO INCOMPLETO,150,145,1,0
4,PERNAMBUCO,IPOJUCA,BIOMÉTRICO,FEMININO,SOLTEIRO,45 a 49 anos,ENSINO MÉDIO COMPLETO,558,552,0,0

In [41]:
eleitorado.drop('DS_MUN_SIT_BIOMETRICA', axis=1, inplace=True)

## Separando um novo DataFrame somente para o eleitorado que não está no Brasil

In [42]:
eleitorado_no_exterior = eleitorado[eleitorado['SG_UF'] == 'EXTERIOR'].copy()

In [43]:
eleitorado_no_exterior.drop('SG_UF', axis=1, inplace=True)

In [44]:
eleitorado_no_exterior.head()

,NM_MUNICIPIO,DS_GENERO,DS_ESTADO_CIVIL,DS_FAIXA_ETARIA,DS_GRAU_ESCOLARIDADE,QT_ELEITORES_PERFIL,QT_ELEITORES_BIOMETRIA,QT_ELEITORES_DEFICIENCIA,QT_ELEITORES_INC_NM_SOCIAL
3548541,BARCELONA,MASCULINO,DIVORCIADO,60 a 64 anos,SUPERIOR INCOMPLETO,1,0,0,0
3548542,BARCELONA,MASCULINO,DIVORCIADO,60 a 64 anos,SUPERIOR COMPLETO,6,0,0,0
3548543,BARCELONA,MASCULINO,DIVORCIADO,65 a 69 anos,ENSINO FUNDAMENTAL COMPLETO,2,0,0,0
3548544,BARCELONA,MASCULINO,DIVORCIADO,65 a 69 anos,ENSINO MÉDIO COMPLETO,3,1,0,0
3548545,BARCELONA,MASCULINO,DIVORCIADO,65 a 69 anos,SUPERIOR INCOMPLETO,1,0,0,0

In [45]:
eleitorado_no_exterior.shape

(36907, 9)

In [46]:
eleitorado_no_exterior.drop('QT_ELEITORES_BIOMETRIA', axis=1, inplace=True)

In [47]:
eleitorado_no_exterior['DS_FAIXA_ETARIA'].value_counts().index

Index(['45 a 49 anos', '40 a 44 anos', '50 a 54 anos', '55 a 59 anos',
       '35 a 39 anos', '60 a 64 anos', '30 a 34 anos', '65 a 69 anos',
       '25 a 29 anos', '70 a 74 anos', '75 a 79 anos', '21 a 24 anos',
       '80 a 84 anos', '20 anos', '19 anos', '85 a 89 anos', '18 anos',
       '90 a 94 anos', '17 anos', '16 anos', '95 a 99 anos',
       '100 anos ou mais'],
      dtype='object')

## Separando um novo DataFrame somente com as capitais dos estados brasileiros

In [48]:
dados_capitais_brasileiras = eleitorado[((eleitorado['SG_UF'] == 'Acre') & (eleitorado['NM_MUNICIPIO'] == 'RIO BRANCO')) | 
          ((eleitorado['SG_UF'] == 'ALAGOAS') & (eleitorado['NM_MUNICIPIO'] == 'MACEIÓ')) | 
          ((eleitorado['SG_UF'] == 'AMAPÁ') & (eleitorado['NM_MUNICIPIO'] == 'MACAPÁ')) |
          ((eleitorado['SG_UF'] == 'AMAZONAS') & (eleitorado['NM_MUNICIPIO'] == 'MANAUS')) |
          ((eleitorado['SG_UF'] == 'BAHIA') & (eleitorado['NM_MUNICIPIO'] == 'SALVADOR')) |
          ((eleitorado['SG_UF'] == 'CEARÁ') & (eleitorado['NM_MUNICIPIO'] == 'FORTALEZA')) |
          ((eleitorado['SG_UF'] == 'ESPÍRITO SANTO') & (eleitorado['NM_MUNICIPIO'] == 'VITÓRIA')) |
          ((eleitorado['SG_UF'] == 'GOIÁS') & (eleitorado['NM_MUNICIPIO'] == 'GOIÂNIA')) |
          ((eleitorado['SG_UF'] == 'MARANHÃO') & (eleitorado['NM_MUNICIPIO'] == 'SÃO LUÍS')) |
          ((eleitorado['SG_UF'] == 'MATO GROSSO') & (eleitorado['NM_MUNICIPIO'] == 'CUIABÁ')) |
          ((eleitorado['SG_UF'] == 'MATO GROSSO DO SUL') & (eleitorado['NM_MUNICIPIO'] == 'CAMPO GRANDE')) |
          ((eleitorado['SG_UF'] == 'MINAS GERAIS') & (eleitorado['NM_MUNICIPIO'] == 'BELO HORIZONTE')) |
          ((eleitorado['SG_UF'] == 'PARÁ') & (eleitorado['NM_MUNICIPIO'] == 'BELÉM')) |
          ((eleitorado['SG_UF'] == 'PARAÍBA') & (eleitorado['NM_MUNICIPIO'] == 'JOÃO PESSOA')) |
          ((eleitorado['SG_UF'] == 'PARANÁ') & (eleitorado['NM_MUNICIPIO'] == 'CURITIBA')) |
          ((eleitorado['SG_UF'] == 'PERNAMBUCO') & (eleitorado['NM_MUNICIPIO'] == 'RECIFE')) |
          ((eleitorado['SG_UF'] == 'PIAUÍ') & (eleitorado['NM_MUNICIPIO'] == 'TERESINA')) |
          ((eleitorado['SG_UF'] == 'RIO DE JANEIRO') & (eleitorado['NM_MUNICIPIO'] == 'RIO DE JANEIRO')) |
          ((eleitorado['SG_UF'] == 'RIO GRANDE DO NORTE') & (eleitorado['NM_MUNICIPIO'] == 'NATAL')) |
          ((eleitorado['SG_UF'] == 'RIO GRANDE DO SUL') & (eleitorado['NM_MUNICIPIO'] == 'PORTO ALEGRE')) |
          ((eleitorado['SG_UF'] == 'RONDÔNIA') & (eleitorado['NM_MUNICIPIO'] == 'PORTO VELHO')) |
          ((eleitorado['SG_UF'] == 'RORAIMA') & (eleitorado['NM_MUNICIPIO'] == 'BOA VISTA')) |
          ((eleitorado['SG_UF'] == 'SANTA CATARINA') & (eleitorado['NM_MUNICIPIO'] == 'FLORIANÓPOLIS')) |
          ((eleitorado['SG_UF'] == 'SÃO PAULO') & (eleitorado['NM_MUNICIPIO'] == 'SÃO PAULO')) |
          ((eleitorado['SG_UF'] == 'SERGIPE') & (eleitorado['NM_MUNICIPIO'] == 'ARACAJU')) |
          ((eleitorado['SG_UF'] == 'TOCANTINS') & (eleitorado['NM_MUNICIPIO'] == 'PALMAS')) |
          ((eleitorado['SG_UF'] == 'DISTRITO FEDERAL') & (eleitorado['NM_MUNICIPIO'] == 'BRASÍLIA'))].copy()

In [49]:
dados_capitais_brasileiras.head()

,SG_UF,NM_MUNICIPIO,DS_GENERO,DS_ESTADO_CIVIL,DS_FAIXA_ETARIA,DS_GRAU_ESCOLARIDADE,QT_ELEITORES_PERFIL,QT_ELEITORES_BIOMETRIA,QT_ELEITORES_DEFICIENCIA,QT_ELEITORES_INC_NM_SOCIAL
183,PIAUÍ,TERESINA,FEMININO,SEPARADO JUDICIALMENTE,60 a 64 anos,SUPERIOR COMPLETO,10,10,0,0
184,PIAUÍ,TERESINA,FEMININO,SEPARADO JUDICIALMENTE,65 a 69 anos,ANALFABETO,11,11,1,0
185,PIAUÍ,TERESINA,FEMININO,SEPARADO JUDICIALMENTE,65 a 69 anos,LÊ E ESCREVE,28,28,1,0
186,PIAUÍ,TERESINA,FEMININO,SEPARADO JUDICIALMENTE,65 a 69 anos,ENSINO FUNDAMENTAL INCOMPLETO,47,47,1,0
187,PIAUÍ,TERESINA,FEMININO,SEPARADO JUDICIALMENTE,65 a 69 anos,ENSINO FUNDAMENTAL COMPLETO,12,12,1,0

In [50]:
dados_capitais_brasileiras.drop('NM_MUNICIPIO', axis=1, inplace=True)

## Removendo a coluna NM_MUNICIPIO do DataFrame geral de eleitores

In [51]:
eleitorado.drop('NM_MUNICIPIO', axis=1, inplace=True)

## Renomeando as colunas dos DataFrames

In [52]:
novas_colunas_eleitorado = ['unidade_federal', 'genero', 'estado_civil', 
                            'faixa_etaria', 'escolaridade', 'quantidade_eleitores_perfil', 
                            'eleitores_com_biometria', 'eleitores_com_deficiencia', 
                            'eleitores_com_nome_social']
eleitorado.columns = novas_colunas_eleitorado
eleitorado.head()

,unidade_federal,genero,estado_civil,faixa_etaria,escolaridade,quantidade_eleitores_perfil,eleitores_com_biometria,eleitores_com_deficiencia,eleitores_com_nome_social
0,PERNAMBUCO,FEMININO,SOLTEIRO,45 a 49 anos,LÊ E ESCREVE,342,338,1,0
1,PERNAMBUCO,FEMININO,SOLTEIRO,45 a 49 anos,ENSINO FUNDAMENTAL INCOMPLETO,753,744,3,0
2,PERNAMBUCO,FEMININO,SOLTEIRO,45 a 49 anos,ENSINO FUNDAMENTAL COMPLETO,138,136,0,0
3,PERNAMBUCO,FEMININO,SOLTEIRO,45 a 49 anos,ENSINO MÉDIO INCOMPLETO,150,145,1,0
4,PERNAMBUCO,FEMININO,SOLTEIRO,45 a 49 anos,ENSINO MÉDIO COMPLETO,558,552,0,0

In [53]:
novas_colunas_eleitorado_capitais = ['unidade_federal', 'genero', 'estado_civil', 'faixa_etaria',
                                     'escolaridade', 'quantidade_eleitores_perfil', 'eleitores_com_biometria',
                                     'eleitores_com_deficiencia', 'eleitores_com_nome_social']
dados_capitais_brasileiras.columns = novas_colunas_eleitorado_capitais
dados_capitais_brasileiras.head()

,unidade_federal,genero,estado_civil,faixa_etaria,escolaridade,quantidade_eleitores_perfil,eleitores_com_biometria,eleitores_com_deficiencia,eleitores_com_nome_social
183,PIAUÍ,FEMININO,SEPARADO JUDICIALMENTE,60 a 64 anos,SUPERIOR COMPLETO,10,10,0,0
184,PIAUÍ,FEMININO,SEPARADO JUDICIALMENTE,65 a 69 anos,ANALFABETO,11,11,1,0
185,PIAUÍ,FEMININO,SEPARADO JUDICIALMENTE,65 a 69 anos,LÊ E ESCREVE,28,28,1,0
186,PIAUÍ,FEMININO,SEPARADO JUDICIALMENTE,65 a 69 anos,ENSINO FUNDAMENTAL INCOMPLETO,47,47,1,0
187,PIAUÍ,FEMININO,SEPARADO JUDICIALMENTE,65 a 69 anos,ENSINO FUNDAMENTAL COMPLETO,12,12,1,0

In [54]:
eleitorado_no_exterior

,NM_MUNICIPIO,DS_GENERO,DS_ESTADO_CIVIL,DS_FAIXA_ETARIA,DS_GRAU_ESCOLARIDADE,QT_ELEITORES_PERFIL,QT_ELEITORES_DEFICIENCIA,QT_ELEITORES_INC_NM_SOCIAL
3548541,BARCELONA,MASCULINO,DIVORCIADO,60 a 64 anos,SUPERIOR INCOMPLETO,1,0,0
3548542,BARCELONA,MASCULINO,DIVORCIADO,60 a 64 anos,SUPERIOR COMPLETO,6,0,0
3548543,BARCELONA,MASCULINO,DIVORCIADO,65 a 69 anos,ENSINO FUNDAMENTAL COMPLETO,2,0,0
3548544,BARCELONA,MASCULINO,DIVORCIADO,65 a 69 anos,ENSINO MÉDIO COMPLETO,3,0,0
3548545,BARCELONA,MASCULINO,DIVORCIADO,65 a 69 anos,SUPERIOR INCOMPLETO,1,0,0
...,...,...,...,...,...,...,...,...
4079432,TEL AVIV,MASCULINO,VIÚVO,30 a 34 anos,ENSINO MÉDIO COMPLETO,1,0,0
4079433,TEL AVIV,MASCULINO,VIÚVO,50 a 54 anos,SUPERIOR COMPLETO,1,0,0
4079434,TEL AVIV,MASCULINO,VIÚVO,60 a 64 anos,SUPERIOR COMPLETO,3,0,0
4079435,TEL AVIV,MASCULINO,VIÚVO,65 a 69 anos,SUPERIOR COMPLETO,2,0,0
4082072,TEL AVIV,MASCULINO,VIÚVO,75 a 79 anos,SUPERIOR COMPLETO,1,0,0

In [55]:
novas_colunas_eleitorado_no_exterior = ['municipio', 'genero', 'estado_civil', 
                                        'faixa_etaria', 'escolaridade', 'quantidade_eleitores_perfil', 
                                        'eleitores_com_deficiencia', 'eleitores_com_nome_social']
eleitorado_no_exterior.columns = novas_colunas_eleitorado_no_exterior
eleitorado_no_exterior.head()

,municipio,genero,estado_civil,faixa_etaria,escolaridade,quantidade_eleitores_perfil,eleitores_com_deficiencia,eleitores_com_nome_social
3548541,BARCELONA,MASCULINO,DIVORCIADO,60 a 64 anos,SUPERIOR INCOMPLETO,1,0,0
3548542,BARCELONA,MASCULINO,DIVORCIADO,60 a 64 anos,SUPERIOR COMPLETO,6,0,0
3548543,BARCELONA,MASCULINO,DIVORCIADO,65 a 69 anos,ENSINO FUNDAMENTAL COMPLETO,2,0,0
3548544,BARCELONA,MASCULINO,DIVORCIADO,65 a 69 anos,ENSINO MÉDIO COMPLETO,3,0,0
3548545,BARCELONA,MASCULINO,DIVORCIADO,65 a 69 anos,SUPERIOR INCOMPLETO,1,0,0

# Convertendo os DataFrames tratados para csv

In [56]:
eleitorado.to_csv('/content/drive/MyDrive/eleitorado_finalizado.csv', index=False)

In [57]:
dados_capitais_brasileiras.to_csv('/content/drive/MyDrive/eleitorado_capitais_finalizado.csv', index=False)

In [58]:
eleitorado_no_exterior.to_csv('/content/drive/MyDrive/eleitorado_no_exterior_finalizado.csv', index=False)